[2018-05-14 09:26] squaremo opened #11 "Send chart release notifications upstream from helm operator"
This has come up a couple of times in weave-community slack.

Step one: figure out what should be sent, and when -- neither of these are straight-forward, since usually we are taking action to reconcile states, rather than enacting a user's command.

[2018-09-05 01:39] oliviabarrick opened #13 "Send helm-operator events to upstream"
We currently send Flux events to Weave Cloud as events allowing upstreams to be aware of syncs, releases, and other events in Flux.

It would be great to be able to produce events from the helm-operator whenever it makes changes (or fails to make changes).

Are there any plans for sending events from the helm-operator upstream?

[2018-09-17 14:01] squaremo commented on #13
Yes, though not well-formed plans.

Briefly: the simplest thing would be to give the helm-operator an upstream URL, the same as for fluxd, and let it post its events there.

The helm operator already generates _Kubernetes_ events though, and this would be doubling up .. So another more decoupled design is to use the Kubernetes event mechanism for fluxd too, and have a listener that posts both sets

[2018-09-27 15:27] squaremo commented on #13
The easy (first) option above would be fine as a start. I should note here that the helm operator currently generates Kubernetes events, but erroneously (it sends a success event whatever happens). An implementation either of the alternatives above would have to be more careful :-)

[2018-10-05 13:50] squaremo opened #14 "Record failed resource annotations on `HelmRelease`"
The helm-op annotator, a secondary system that tries to mark up resources with Helm information, to be interpreted by the flux daemon, tends to spam the logs when something's wrong. It runs every few seconds, and reports any failures.

To fix this, we could
 - come up with a better way of annotating resources, or otherwise getting the information across*
 - suppress some log messages, e.g., only r

[2018-12-04 11:06] squaremo opened #10 "Implement chartPullSecrets"
The design arrived at in fluxcd/flux#1382 includes the use of Secrets to provide keys (for git repos) and repositories.yaml files (for Helm repos), but this isn't implemented.

It is still possible to use repos of either type that need credentials, but it entails mounting them into the helm-operator container, which is 1. pretty fiddly to get right and 2. arguably the wrong place to supply credent

[2018-12-06 20:12] sfrique commented on #13
Any updates on this?
It would be nice to have it!

[2018-12-24 10:50] srueg opened #12 "Automate Helm Upgrades based on semver expressions"
Would it be possible to instead of watching images for updates, watching helm charts for new versions? The `flux.weave.works/automated: "true"` annotation could be set on a `HelmRelease` CR.

[2018-12-24 11:45] squaremo commented on #12
It certainly is possible, and desirable. The difficulties are more architectural than technical: at present, fluxd only "knows" about manifests and images, and adding Helm charts to that seems headed in the direction of being monolithic.

I would like to move the image database and automation into its own process/container/image; if that can be done, scanning and updating chart versions is a close

[2018-12-24 13:11] srueg commented on #12
Thanks for the fast reply! Cool, so this is something you're planning / working on 👍 Maybe I find the time to code together a first draft so we have something to reason about.
Merry x-mas

[2018-12-27 20:20] kbambridge commented on #12
I was just thinking about this and turns out there was already an issue about this!

One reason I think upgrading helm charts instead of images when using helm for each application is because:

1. allows developers to install individual helm charts at specific versions themselves if needed
2. Still keeps the deployment manifests in the same location as the application code
3. Can fully automate pu

[2018-12-28 16:45] davidkarlsen commented on #12
Looking for the same.
My suggestion would be:
- no version specified -> use the latest available version
- allow specifying a wildcard: `1.1.*`, or `1.*`
- specify an exact version - as today

[2019-01-03 14:45] squaremo commented on #12
I fully expect people to want to update the chart version as well as the images used with the chart. Chart versions will tend to change when new images are not backward-compatible; but also on their own terms, e.g., if there's some bit of extra operational config you can supply to the chart. You don't always need or want to bump the chart version with each new image.

[2019-01-03 14:58] squaremo commented on #12
I think the above is implicitly suggesting that these values can be used in the `version` field of a `HelmRelease` -- I don't think that's a good idea though, since we generally want to record the state as precisely as we can, and put the _policy_ for automation elsewhere. Otherwise there'd be no record in git of the change when the chart is upgraded to a new version.

[2019-01-04 18:34] stephenmoloney commented on #12
Given that the `values.yaml` manifests typically change from one version of a helm chart to the next, is it even plausible that this is something that can be automated ?

[2019-01-05 05:49] kbambridge commented on #12
Couldn't you say the same thing about docker images and env variables

[2019-01-05 09:41] stephenmoloney commented on #12
Fair point, it's up to developers I suppose to decide on the appropriateness of the automation.

[2019-01-05 15:41] kbambridge commented on #12
@squaremo

This can still be done if the version schema is in an annotation and then the current version is in the version field of the helm release crd

[2019-01-07 11:31] squaremo commented on #12
Yes, for sure. I'd prefer it acted like the image update automation; to wit, you say which versions are acceptable in an annotation, and the automation updates the version field accordingly, committing the change to git.

[2019-01-22 01:25] captncraig commented on #12
Should helm chart polling be done by the helm operator or by fluxd? Fluxd already has a very similar paradigm with config for the git repo and rate limiting config and all that. But helm operator interacts with chart repos and fluxd doesn't. It makes sense to me for helm-operator to watch for changes.

[2019-01-22 02:02] captncraig commented on #12
Nvm, it seems fluxd is definitely the right place, if this autoamation will be committing back to the master repo.

[2019-01-22 12:51] squaremo commented on #12
vs

Yep -- that's the quandary! The "clean" way to do this would be the automation (and registry scanning) bits to be separated from the synchronising bits -- though there are some bits that are tricky to disentangle, like access to the git repo -- and of course that would mean more operational burden (at the least, more config).

[2019-02-26 18:17] stefanprodan opened #9 "Promote the HelmRelease CRD to GA"
As part of the Flux Helm Operator GA release we should bump the HelmRelease CRD version from `v1beta1` to `v1`. The beta version covers all the Helm options that make sense from a GitOps perspective. We should revisit the CRD when Helm v3 will be available.

[2019-03-26 10:45] bricef opened #18 "Allow custom repositories for dependent helm charts."
When using helm charts, The dependencies of the helm chart are not available if they are in a custom repository.

Maybe related to fluxcd/flux#1278?

Reported by @tmestdagh

[2019-03-26 10:46] squaremo commented on #18
Why did you try, what did you expect, and what actually happened?

[2019-03-26 10:59] hiddeco commented on #18
I think I can fill in the gaps (based on earlier user reports).

At the moment when users define their own dependencies in their chart's `requirements.yaml`:

[code]

they need to add the `https://some.custom.repository.com` repository to the `repositories.yaml` Helm uses (by creating their own and mounting it at the expected path), as [we only ship the stable chart repo with our Docker image](htt

[2019-03-26 11:08] squaremo commented on #18
If you were using `helm`, would you expect to have to add the repository, or would the mention in requirements.yaml be enough?

[2019-03-26 11:21] hiddeco commented on #18
You would have to add the repository with `helm repo add`.

[code]

[2019-03-26 11:27] squaremo commented on #18
I see, OK -- thanks Hidde.

I'm not sure we can do anything in code to remedy this misunderstanding. I don't like falling back on "explain better in docs", but since we're not doing anything that diverges from normal use of `helm`, perhaps that's what is needed here.

[2019-03-26 12:03] tmestdagh commented on #18
Thanks @hiddeco , thats exactly the problem I was facing.  Yeah, I was wondering if the solution for the missing Helm repositories is to  mount a custom version of repostiories.yaml.  Thanks for the clarification.

[2019-03-26 12:06] tmestdagh commented on #18
In normal use of helm, afaik one would add the repositories listed in the requirements.yaml to Helm before updating the dependencies.

[2019-03-26 16:45] michaelfig opened #15 "Debug helmrelease before committing to GitOps"
Feature request: Add a command to `fluxctl` that can debug  a helmrelease yaml without first having to apply it to the cluster and ensure all the chart references are pushed.

Say I have a `myrelease.yaml` file:
[code]

I'd like something like `fluxctl helm-template ./myrelease.yaml /path/to/my/chart` to run the moral equivalent of:

[code]

where the stdin (used by the `--values=-` switch), is ge

[2019-03-26 18:12] squaremo commented on #15
I like this idea -- it'd give people a extra degree of confidence when moving to HelmReleases, as well as being generally helpful.

To get as close as possible to what the helm-operator will do, I think the tool would have to

 - clone the git repo to get the chart, if it has a git source
 - or, fetch the chart tarball
 - look up any value secrets/configmaps/URLs
 - dry-run the chart

There's code

[2019-03-26 18:57] michaelfig commented on #15
I would like to at least be able to provide an override for the chart location, as in my org I only can update the master chart repository with a PR to the operations team, and I would like to test the chart locally before doing that.  In some environments, I don't have access to the git repo containing the production charts, either.

Also, I don't always want to dry-run the chart.  Sometimes I wa

[2019-04-03 09:22] srueg commented on #18
Maybe we can improve the support for custom repos in the Helm chart? I.e. providing a list of repos in the values.yaml (`helmOperator.configureRepositories.repositories[].url`) which will then be converted to the appropriate `repositories.yaml`, saved in a secret and mounted.

[2019-04-03 09:28] squaremo commented on #18
@srueg That's not a bad idea -- @stefanprodan @hiddeco wdyt?

There's variations on that too, I think: the operator itself could build a repositories.yaml based on the URLs it sees, for example (in fact it might be a good idea to sandbox each release).

[2019-04-03 19:25] ipedrazas opened #17 "There's not a simple way to add a helm repo with a custom CA"
It's not easy to add your own repository configuration to the chart.

The setting `Values.helmOperator.configureRepositories.enable` allow you toinject a secret, however, if there's a repo that needs a CA there's not a standard way to add the CA into the deployment provided by the chart.

Note that `Values.helmOperator.tls.verify ` is used as a flag to configure `tiller` tls and not repo.

If you

[2019-04-04 09:45] squaremo commented on #17
@ipedrazas Would it be sufficient (if not ideal) to be able to specify a secret for certificates to be mounted, as well as the `repository.yaml`?

It looks like fluxcd/flux#1893 will let you specify a CA cert for a repository entry, which may help.

[2019-04-04 10:02] ipedrazas commented on #17
fluxcd/flux#1893 allows you to define your own `repositories.yaml` but it doesn't add/mount the CA, the CA location is defined in the `repositories.yaml` entry, but yes, we could adapt it to add the CA into that secret and mount it inside the deployment template.

[2019-04-04 11:02] squaremo commented on #17
Is it possible to include the CA cert in the same secret that has the repositories.yaml? It requires knowing where the secret will be mounted, such that you can use the path in the repositories.yaml file. But I think it would work.

[2019-05-22 03:02] cdenneen opened #8 "Helm 3 support"
With the release of Helm 3 would like to track progress for this integration

[2019-05-23 21:03] hiddeco commented on #8
This is definitely something we should track (and work) on.

I am currently unaware of what changes Helm 3 exactly brings us, except for having read the design proposal a couple of months ago and being aware of it being Tiller-less. I need to schedule some time to look into the alpha release and see how it fits into what we currently have (if it fits at all), so we can determine what the following

[2019-05-24 12:58] timja commented on #8
i think the main implication is no tiller, and release information is stored in kubernetes objects and not etcd

note that in the current alpha `--namespace` is broken and requires your active context to be the namespace you want to deploy into

[2019-05-24 12:59] jpds commented on #8
Good session from this week's Kubecon about the changes: https://www.youtube.com/watch?v=lYzrhzLAxUI

[2019-06-24 16:44] hiddeco commented on #8
Finally had a chance to look into the first alpha release and see how this would fit into the Helm operator. Consider the following to be a list of observations and questions that came to mind, they may be short-sighted, incomplete, prone to changes, or even incorrect.

---

#### A `.kube/config` is the only requirement (besides `helm`)

This means we no longer have to initialize and/or maintain a

[2019-06-25 10:05] squaremo commented on #8
When `.spec.releaseName` is not supplied, the release name generated includes the namespace, so is effectively namespaced anyway.

The rationale for `.spec.releaseName` is to account for "taking over" a release -- that is, introducing a HelmRelease resource to manage an existing release, and thereby avoid disruption. That use case hasn't gone away, though we could in principle decide not to care a

[2019-06-26 05:16] ellieayla commented on #15
An alternative approach here, maybe more composition-friendly.

I wanted something that consumes yaml defining a HelmRelease object and spits out the content of `spec.values`, so I can do something with it. Probably just pass to `helm template --values` and then to `kubeval`. Supposedly this can be done with  `yq`, but I didn't have that at-hand.

I ended up trying something like (untested jsonpat

[2019-07-24 11:44] hiddeco opened #16 "Helm operator does not notice git changes to child charts"
In a Helm chart, it is allowed to have relative `file://` references in your `requirements.yaml`, .e.g.:

[code]

The Helm operator does however [only look for commits touching the configured parent chart path (e.g. `charts/parent`) on git mirror updates](https://github.com/fluxcd/flux/blob/daad1ff216b17db4560d7a154e59cc5b197fd0f2/integrations/helm/chartsync/chartsync.go#L219-L221), which causes c

[2019-07-25 12:00] ingeknudsen opened #120 "Question: How to use common environment variables or shared config-maps across chart"
Not sure if this will become a feature request, or if this is possible with the version we have, or will be possible with the new Kustomize feature. We have started using Flux in development and production clusters. For development we create new clusters on a, almost, weekly basis. All development clusters points to the same branch and config in the repo. Before we installed flux we installed the

[2019-08-02 18:58] cdenneen opened #49 "valuesFromFile to create key's value sourced from file content"
[code]

result in equivalent of:

`helm install --set-file key=path/to/file.js`

[code]

[2019-08-05 11:40] squaremo commented on #49
I see, the aim is to put a file content into a subkey of values, rather than expecting a whole values file. Seems reasonable to me.

I think this can be done backward-compatibly by adding a `valuesKey` field to `externalSourceRef`, `secretKeyRef`, `chartFileRef`, `configMapKeyRef` (in the cases of `secretKeyRef` and `configMapKeyRef`, there is already a field `key`, so the new field cannot have th

[2019-08-06 18:15] imriss opened #3 "Error: at <.Values.global.app.my.name>: nil pointer evaluating interface {}.name"
**Describe the bug**
The value of `global.app.my.name` is not picked up, and the following error appears in the helm operator logs:
[code]
The value is provided as follows in the `HelmRelease` definition:
[code]

**To Reproduce**

**Expected behavior**
The value of `global.app.my.name` should be used as provided, and no error should appear.

**Logs**
[code]

**Additional context**
Add any other co

[2019-08-10 09:33] stefanprodan opened #5 "Add additional printer columns for HelmReleases"
Print release name, release status and message e.g.:

[code]

[2019-08-12 10:06] hiddeco commented on #3
@imriss have you tried escaping the `$`? E.g. `\${my_name}` as a value.

[2019-08-13 10:29] stefanprodan commented on #13
Duplicate of #11

[2019-08-13 11:11] #9 closed, assigned to nobody

[2019-08-13 14:22] #5 closed, assigned to stefanprodan

[2019-08-20 19:13] nabadger commented on #120
Could you not do this at rendering time via kustomize?

We do something like:

[code]

Now you can reference those values anywhere you want...
[code]

At this point it's all kustomize. We end up with a cluster-properties configmap in-cluster, but it's not used (it's only used at the rendering point in time).

[2019-08-21 18:03] dcherman opened #34 "Documented defaults for `createCRD` don't match actuals"
Hi,

The documented defaults for `createCRD` don't match what's in `values.yaml`

https://github.com/fluxcd/helm-operator/blob/6bfd9fa8a87f686ddbac8332ae5e1eb9cee6893e/chart/helm-operator/values.yaml#L13

https://github.com/fluxcd/helm-operator/blob/6bfd9fa8a87f686ddbac8332ae5e1eb9cee6893e/chart/helm-operator/README.md#configuration

Happy to make a PR correcting this, just need to know which valu

[2019-08-21 18:05] stefanprodan commented on #34
The default should be set to `false`

[2019-08-21 20:21] runningman84 opened #36 "Error messages without further information"
**Describe the bug**
I get the error "Object 'Kind' is missing in 'null'. Without any reference I am unable to fix this. We need a better error message complaining about the corresponding manifest file or something like that.

**Logs**
[code]

**Additional context**
Add any other context about the problem here, e.g
- Helm operator version: 0.10.1
- Kubernetes version: 1.14
- Git provider: github
-

[2019-08-21 20:24] #34 closed, assigned to nobody

[2019-08-22 12:49] chainlink opened #37 "Don't require values.yaml key in secret, pull in values directly"
**The feature**
Having to encode the entire contents of the values.yaml file a a string in a k8s secret or config map makes it difficult to work with or change. It would be better if you could just specify the secret or config map and the helm operator pulls all the keys instead.

Before
[code]
After
[code]
Nested values can be handled with dot notation
[code]

**New user story**
Precondition: A h

[2019-08-24 12:27] pkaramol opened #48 "flux operator does not produce deployment from helmchart, though tiller does"
**Describe the bug**
Although when executing

[code]

(either with `--dry-run` option or not)

a k8s `Deployment` __is produced__,

when `flux` takes over the the git ops process kicks in, there is no `Deployment` resources created  (albeit there is a `helm` chart installed)

**To Reproduce**
Steps to reproduce the behaviour:

I have set up the typical GitOps flow where the `flux` operator is moni

[2019-08-27 11:16] hiddeco commented on #48
Can you provide a (redacted) copy of the Helm chart and `HelmRelease` resource you are trying to install? This bug is very likely due to something minor in one of those, having access would greatly improve the debugging experience.

[2019-08-28 16:11] stealthybox commented on #8
The `Chart.yaml` has an APIVersion that indicates use of Helm v3+.
We can use that to determine what version of helm the Chart requires.
https://v3.helm.sh/docs/faq/#chart-yaml-apiversion-bump

This requires less user-action and removes edge cases where the wrong client version is set for a Chart that is not supported.
For transparency we should consider logging and adding the helmClient version u

[2019-08-29 15:51] ghost opened #38 "Microservices best practices"
I have an architectural question regarding flux and helm. I'm following the https://github.com/fluxcd/helm-operator-get-started/ tutorial.

In my project, I have tens of microservices which can not live without each other. What would be your suggestion? Should I create as many charts and HelmReleases as many microservice I have, or just create a generic chart, which contains all of the microservic

[2019-09-02 09:58] adeleglise opened #39 "Flux doesn't upgrade helm release"
**Describe the bug**
Automated helm releases are deployed, but not upgraded when a new image is found.

**To Reproduce**
Steps to reproduce the behaviour:
0. Kubernetes 1.14.6, Flux 1.14.1, Flux helm operator 0.10.1, connected to a private gitlab repo and private gitlab registry
1. Push a commit to a repo, to trigger the CI
2. Launch fluxctl sync
3. Fluxctl see the new image, commit the release fi

[2019-09-02 10:04] hiddeco commented on #39
The logs differ from what you posted to Slack last week. Does the Helm operator no longer log a `context deadline exceeded` error when it attempts to perform the non-dry-run upgrade?

[2019-09-02 11:28] adeleglise commented on #39
Indeed, I don't see anymore the `context deadline exceeded` error in the logs.
I've increased the timeout as you suggested on slack.

[2019-09-02 14:12] adeleglise commented on #39
If that can help, I can confirm that modifying the base chart and/or the values of the release triggers correctly and upgrade from the helm operator.
I've just modified a workload and the new version is correctly deployed.

[2019-09-02 14:46] hiddeco commented on #39
Than I think it was due to the timeout that was not set previously, you can confirm this theory by rolling back to an older version and letting Flux roll it forward again.

[2019-09-03 05:18] therne opened #40 "Helm releases deleted directly won't upgraded"
### Summary
When I delete a release externally (by running `helm delete`) and run `fluxctl sync` without deleting release definitions from GitOps repo, it won't be installed again and gives the following error:

[code]

It looks like the state of the release is stuck on `DELETED`, but I couldn't find any way to fix it back.

### To Reproduce
Steps to reproduce the behaviour:

1. Install [cert-mana

[2019-09-03 05:23] therne commented on #40
Sorry, I've found that running `helm delete --purge` solves the issue.

[2019-09-03 05:23] #40 closed, assigned to nobody

[2019-09-03 08:00] adeleglise commented on #39
Sadly, the new image upgrade is not working. I've rebuilt everything, Flux is able to see the new image, and push a commit containing the new image name, nut the release is not upgraded.

Auto-release redacted/group/api-2:nightly-sfo515z
Weave Flux authored 16 minutes ago

kubectl describe api-2-pod :
Image: redacted/group/api-2:old_image

Flux logs:

[code]

Then it loops on the actions Update an

[2019-09-03 09:28] hiddeco commented on #39
`ts=2019-09-03T07:42:59.031159289Z caller=release.go:183 component=release info="processing release api-2 (as api-2)" action=UPDATE options="{DryRun:false ReuseName:false}" timeout=500s`

is Flux doing an upgrade, and given it does not log an error afterwards, it should have upgraded the release with success. There is also no difference in manually making a change to the manifest or Flux doing it,

[2019-09-03 11:50] adeleglise commented on #39
OK, I think I've found my mistake. In my deployment I haven't templated the image version ... So the chart was not superseded by the values in the release file.

[2019-09-03 14:00] hiddeco commented on #39
Does that mean this issue can be closed? This way we keep our backlog clean :tulip:

[2019-09-03 14:44] adeleglise commented on #39
Yup it can totally be closed !

Thanks again @hiddeco !

[2019-09-03 14:44] #39 closed, assigned to nobody

[2019-09-05 17:46] stealthybox commented on #8
Thinking about U/X in the end:
We may want a global fluxd config option to enable/disable use helmv2/v3.
This is so users can enforce policies for not using v2 Tiller or beta v3 features.

[2019-09-09 18:30] rndstr opened #41 "Bump Helm API package and binary to v2.14"
v2.14.0 has been released a while ago (May 5) and `v2.14.3` (July 30) is the latest bugfix release

[2019-09-09 19:07] hiddeco commented on #41
This has been bumped in https://github.com/fluxcd/helm-operator/tree/helm-v3 but we may not want to wait for this to officially land and address it in a dedicated PR.

[2019-09-11 10:41] andrejpetras commented on #12
Hi @stefanprodan, @hiddeco, @squaremo

we want to use the **fluxcd** in the large project (multiple teams, multiple services) but the release process should be based on helm chart version and not the docker image version.

Are there any news or plans for this issue?

[2019-09-13 13:32] timokorny opened #43 "Let flux deploy a bundle of helmreleases"
Hi,

not sure if i am right here.
I have the question if the flux operator is able to deploy a bundle of helmreleases via another helmrelease.
I defined helmreleases for several services and want to deploy them as a bundle of services.
Is that already possible and if so, how is that working/should the "master-helmrelease" look like?

Thanks in advance and best regards
timokorny

[2019-09-14 19:37] hiddeco commented on #43
I would advice you to bundle the underlying charts in an [umbrella chart](https://helm.sh/docs/developing_charts/#complex-charts-with-many-dependencies) so that you can manage them through one `HelmRelease`.

[2019-09-16 15:37] timokorny commented on #43
Ok, i will try that.
Thanks for replying that fast!

[2019-09-23 17:43] chrisob opened #46 "Helm Operator ignores .spec.targetNamespace when --allowed-namespace is set"
**Describe the bug**
Helm Operator is ignoring a `HelmRelease`'s `.spec.targetNamespace` value when the operator itself is scoped to watch `HelmReleases` in a single namespace with the `--allowed-namespace` flag.

**To Reproduce**
Deploy the operator using the latest Flux Helm chart (`0.14.1`) with the following values snippet:

[code]
This results in the `--allowed-namespace=namespace1` flag bein

[2019-09-23 20:08] hiddeco commented on #46
Support for `spec.targetNamespace` was [added in `1.0.0-rc1`](https://github.com/fluxcd/helm-operator/blob/master/CHANGELOG.md#100-rc1-2019-08-14) while the Helm operator version you list is `0.10.1`.

Please double check if you are running the right version :-).

[2019-09-23 22:53] chrisob commented on #46
:man_facepalming:x100... My bad, I could've sworn I looked through closed issues/PRs for this, but it slipped by.

I know it's hard to say for sure, but is rc-1 stable enough for "public consumption", or should I hold off for GA?

[2019-09-24 09:19] hiddeco commented on #46
`0.10.1` is probably not any more stable than `1.0.0-rc1` (and the latter is probably stabler).

We are currently waiting for Helm v3 GA to finish our implementation and make our GA release, so it may very well be that we have another `0.x.x` iteration if this takes too long.

[2019-09-24 13:27] chrisob commented on #46
OK, thanks for the info, and sorry for the unnecessary issue!

[2019-09-24 13:27] #46 closed, assigned to nobody

[2019-09-25 15:31] chainlink commented on #37
Any thoughts here?

[2019-09-26 07:59] Docteur-RS opened #51 "Specify installation order of charts"
**Describe the feature**

A cool feature would be a file allowing to set the order of installation of charts.

**Why?**
Because a lot of Helm charts  are cut in half. First half are CRDs and the second half is the chart itself.
Take istio for example, it has `istio-init` for the CRDs and `istio` for the chart itself. But if you install `istio` before `istio-init` it will crash because it has not f

[2019-09-26 08:20] stefanprodan commented on #51
Installing Istio with Flux and Helm Operator is described here https://github.com/stefanprodan/gitops-istio

TLDR:
- extract the Istio CRDs from the init chart with this [script](https://github.com/stefanprodan/gitops-istio/blob/master/scripts/istio-init.sh)
- add the CRDs and istio-system namespace to git
- add the Istio HelmRelease to git [example](https://github.com/stefanprodan/gitops-istio/bl

[2019-09-26 09:55] Docteur-RS commented on #51
**Hum... Thanks for this ! I'll use it !** 👍

Though retrieving some kind of integer from each HelmRelease to set the order of installation would solve it altogether and not just for the Istio chart. As this kind of architecture tends to happend more and more often in the helm world ! ;-)

[2019-09-27 07:03] stefanprodan commented on #51
Enforcing ordering would make the operator unusable for those that have hundreds of release (we have quite of few users doing this). Helm operator is based on the Kubernetes CRD controller pattern where multiple workers (goroutines) run the reconciliation loop in parallel. Without parallelism, reconciling hundreds of release would take tens of minutes if not even hours.

[2019-09-27 09:44] hiddeco opened #54 "Document missing `HelmRelease` fields"
The [`HelmRelease` custom resource](https://github.com/fluxcd/helm-operator/blob/master/deploy/flux-helm-release-crd.yaml) has a lot more fields/options than the ones that are [documented at the moment in the `HelmRelease` reference](https://github.com/fluxcd/helm-operator/blob/master/docs/references/helmrelease-custom-resource.md).

Documenting the missing field should be pretty straight forward

[2019-09-27 09:48] hiddeco commented on #15
Small wrapper that makes use of `yq` to collect the values and release name: https://gist.github.com/tun0/845e796008ac6ca6229af910682c6983

[2019-09-27 15:30] Docteur-RS commented on #51
Thx for your answer.
I totaly get your point of view though I didn't mean for the hierarchical installation to kill parallelism!

First, the setting doesn't have to be applied to all charts and secondly only a few of them will be delayed by it.

For instance lets say we have the following charts and see how they would be deployed:

[code]

The charts A1, A2 and A3 need to be deployed in this speci

[2019-10-01 01:56] derrickburns opened #57 "Examples and specifications of annotations do not match"
https://github.com/fluxcd/flux/blob/7fd090af0dd9b63acc9fa1c8616d5bf5657c6160/docs/references/helm-operator-integration.md

Your examples do not meet your specification.

The keys you use for annotation examples do NOT match the keys you define in the examples. It is not clear which is correct.

It seems like this document is a mix of the old format and the new one.

[2019-10-05 21:12] chainlink opened #62 "Recommendations for alerting on failed releases"
I'd like to be able to alert on failed releases. I looked into hooking into the kubernetes events that the operator emits, but the only event emitted is `chartsynced` and it doesn't contain any error information.

[code]

The only way I've found to discover bad releases is by introspecting the logs of the helm-operator. For example:
[code]

This sometimes appears the Status of the helm release, bu

[2019-10-09 15:57] HaveFun83 opened #67 "kubectl show wrong crd status"
**Describe the bug**
I check the flux-helm-operator behaviour on a namespace restricted tiller via different targetNamespace within the helmrelease file.
The operator behaviour is desired but the helmreleases.helm.fluxcd.io status message is a bit confusing.

The helm-operator logs:
[code]
But the crd shows
[code]
@hiddeco also ask for the hr output
[code]
**To Reproduce**
Steps to reproduce the b

[2019-10-10 09:52] brew opened #68 "'no repository definition' error, but repos have been configured"
I'm trying to use the Helm Operator to release a Helm Chart (v3 syntax) that defines a dependency. I get a Helm error about 'no repository definition', but I think I've added the chart repo correctly. If I remove the dependency section, the chart installs.

Perhaps related to #18.

When I deployed the helm operator (via a git checkout d42759d03d341f052a612568bbc3708a04670871), I added a couple of

[2019-10-10 10:26] stefanprodan commented on #68
I see a `%` in `  username: ""% ` also what's with `\` in `configureRepositories.repositories\[1\].url=https://charts.bitnami.com/bitnami`

[2019-10-10 10:27] stefanprodan commented on #68
Pleaser use a bash shell and it will work ok

[2019-10-10 11:24] brew commented on #68
I tried using bash and also by passing a values file (instead of using `--set`) to the `helm install` command. Same result. The `repositories.yaml` file is mounted into the helm operator pod and looks okay. I notice `helm version` isn't version 3 in the helm operator pod.

[code]

[2019-10-10 11:29] stefanprodan commented on #68
Helm Operator doesn't use the binary, the v2 CLI is there for debugging purposes.

To fix the dependency you need to use the same name as in Chart.yaml, there is `https://charts.bitnami.com/bitnami` but you've added it as `bitnami`.

[2019-10-10 11:59] brew commented on #68
If I leave the `repository` value in Chart.yaml as the url, but change the value in the helm operator to use the url for both the `url` and the `name` (I think that's what you're suggesting, correct me if I'm wrong!):

[code]

I get a similar error:

Instead, if I change the repo name in Chart.yaml to `bitnami` I get an different error:

[2019-10-10 12:27] stefanprodan commented on #68
@hiddeco looks like Helm v3 dependency pull doesn't work.

[2019-10-10 18:15] gsf commented on #8
I was wondering whether there was progress going on outside of this issue. Looks like #42 and #55 have both been merged into the ongoing helm-v3-dev branch.

[2019-10-11 14:37] brew opened #69 "Helm release revision created every minute if secretKeyRef used"
If a `secretKeyRef` is defined in the HelmRelease manifest, the helm-operator creates a new helm release every minute.

#### with `secretKeyRef`

With the following HelmRelease file pushed to my repo:

[code]

The helmrelease is created, and podinfo workloads created as expected, including a helm release secret `secret/podinfo-stage.v1`. After a minute another helm release secret is created, `secr

[2019-10-14 16:33] heprotecbuthealsoattac opened #70 "ServiceAccount annotations are being overriden?"
Hi,

I'm trying to install cert-manager using their chart: https://github.com/jetstack/cert-manager/tree/master/deploy/charts/cert-manager
However when I specify `serviceAccount.annotations` only annotation I can see on the created service accounts is: `flux.weave.works/antecedent: cert-manager:helmrelease/cert-manager`

[2019-10-17 09:38] Docteur-RS opened #72 "Helm operator : Could not read from remote repository."
## Describe the bug

**Problem 1**
For some reason the Flux helm operator can't connect to our gitlab anymore...
[code]

However **Flux still works and deploys standalone yamls perfectly.** Its only the helm operator that has connectivity issues. Even after being restarted multiple times by myself the error persists.

The above warning repeats itself **for each helm release present on the cluster.

[2019-10-17 09:49] hiddeco commented on #72
What are the configurations of your Flux and Helm operator instances?

[2019-10-17 11:31] Docteur-RS commented on #72
After having destroyed and restarted everything I still got the issue and I only have one flux running. So its not about having multiple flux running in the same cluster.

Moreover when I `kubectl exec` inside the helm operator pod, I can clone the repository without any problem.

[2019-10-17 11:43] Docteur-RS commented on #72
@hiddeco I made a gist with the configuration of the flux and helm operator pods : [https://gist.github.com/Docteur-RS/36e05dd93853d9d588fa70fc9bb19626](https://gist.github.com/Docteur-RS/36e05dd93853d9d588fa70fc9bb19626)

And this is the values.yaml of Flux : [https://gist.github.com/Docteur-RS/d8e6d16f89c9fa60cce0d5f02d297f1f](https://gist.github.com/Docteur-RS/d8e6d16f89c9fa60cce0d5f02d297f1f)

[2019-10-17 11:45] hiddeco commented on #8
@gsf `helm-v3-dev` is the branch you want to follow for updates on the Helm 3 support.

I have been refactoring the `chartsync` package into a package dedicated to syncing charts from chart sources to local storage, and a package syncing `HelmRelease` resources to Helm. This work should surface in the near future and will bring us a lot closer to something I feel comfortable with merging into `mas

[2019-10-17 15:11] Docteur-RS commented on #72
I found the issue. As expected it was my fault...

Because I have so many HelmRelease files I messed up the `spec>chart>git` value's.
I set the wrong repository at the end of the URL.

[code]

[2019-10-17 15:11] #72 closed, assigned to nobody

[2019-10-17 15:16] hiddeco commented on #72
@Docteur-RS I already had my suspicions that it was due to some mistake in one of the `HelmRelease` resources. Glad you were able to get to the bottom of it by yourself, as I wouldn't have been able to go through all the files for you.

[2019-10-17 15:20] Docteur-RS commented on #72
@hiddeco  yep !  Thx for your time.

[2019-10-18 12:33] #41 closed, assigned to nobody

[2019-10-19 12:00] ysaakpr opened #78 "Cmpare OperatorSdk helm vs helm-operator"
This is mostly an informational issue to understand from the team of fluxcd. I am wondering how [operator sdk](https://github.com/operator-framework/operator-sdk/blob/master/doc/helm/user-guide.md) and helm operator can work similarly.
How could we compare both these and decide on when to choose what. Are there any fundamental differences between the two.

[2019-10-21 07:13] jan-schumacher commented on #69
I can see the same behaviour in our trial. Flux created ~1600 revisions over night. We also have a secretkeyref in our chart.

[2019-10-21 08:23] hiddeco commented on #78
This is an :apple::orange: comparison imho.

The operator SDK is a software development kit to create operators. The guide you are referring to documents how you can create an operator which reacts to a certain custom resource you create (e.g. `Nginx`) and installs a specific chart release. So the operator in this example will only be able to install Nginx charts of the same version.

The Helm ope

[2019-10-21 08:44] benhartley commented on #62
[`helm-exporter`](https://github.com/sstarcher/helm-exporter) can be useful here

[2019-10-21 12:45] nweedo3 opened #80 "Specify an alternative default branch for HelmRelease objects"
_Preamble: The below is part question, part solution. I've had a dig around the documentation and I can't find any advice or examples on how I would solve this._

---

**Describe the feature**

The Helm Operator should be able to be configured with a default git branch/ref for `HelmRelease` resources specifying the `.spec.chart.git` key.

As `fluxcd/flux` can be configured with a Git branch via `-

[2019-10-21 13:28] mar1n3r0 opened #81 "Release does not belong to HelmRelease, this may be an indication that multiple HelmReleases with the same release name exist."
**Describe the bug**
A clear and concise description of what the bug is.
The automated deployment stopped working. The status of the helmRelease is deployed but it doesn't detect changes in image versions from docker repository.
**To Reproduce**
Steps to reproduce the behaviour:
https://github.com/fluxcd/helm-operator-get-started

**Expected behavior**
The automated releases based on image version

[2019-10-21 13:31] gloutsch commented on #69
hey, same thing here (using `secretKeyRef` in chart).

logging diffs on helm charts sync gives me a bit of context :
[code]

diff:
[code]
The value types between the current release and desired release mismatch.

Checked here https://github.com/fluxcd/helm-operator/blob/helm-v3-dev/pkg/chartsync/chartsync.go#L593-L607 but hard to dig further on types returned by `release.Release.Install()`

edit:

[2019-10-21 13:34] hiddeco commented on #81
This is likely your Flux version, and not the Helm operator version you are running. There has been a fix (#56) for the behaviour you are describing in the second latest release (`1.0.0-rc2`).

[2019-10-21 13:44] mar1n3r0 commented on #81
Thanks do you know how can I view the Helm operator version currently running ?

[2019-10-21 13:47] stefanprodan commented on #81
We use the version to tag the container image: `kubectl -n flux get deploy/flux-helm-operator -oyaml | grep image`

[2019-10-21 13:48] mar1n3r0 commented on #81
helm-operator:0.10.1 is what I get. Is that pre-1.0.0 ?

[2019-10-21 14:05] ysaakpr commented on #78
Got it..thanks for the confirmation.

[2019-10-21 14:05] #78 closed, assigned to nobody

[2019-10-22 08:24] mar1n3r0 commented on #81
An upgrade to 1.0.0-rc2 did indeed solve the issue. Marking this as resolved.

[2019-10-22 08:24] #81 closed, assigned to nobody

[2019-10-25 22:34] kav commented on #51
Maybe this is a silly suggestion but why not just attempt to install everything at T, reattempt to install failed at T+1, rinse, and repeat. Even the craziest dependency chain will come out in the wash; so to speak

[2019-10-26 08:17] karuppiah7890 opened #85 "Upgrade helm to v2.16.1"
**Describe the feature**
Update helm to v2.16.1 . I see it's currently v2.14.3 😄

**Expected behavior**
Better experience because of the bug fixes from the new releases
https://github.com/helm/helm/releases/tag/v2.15.0
https://github.com/helm/helm/releases/tag/v2.15.1
https://github.com/helm/helm/releases/tag/v2.16.0

https://github.com/helm/helm/releases/tag/v2.16.1 will be released only later, b

[2019-10-26 08:18] karuppiah7890 commented on #85
I'll raise a PR for this 😄

[2019-10-26 09:42] karuppiah7890 opened #88 "Update go to 1.13.3 in master branch"
**Describe the feature**
Update go to 1.13.3 in master branch code

[2019-10-26 09:43] karuppiah7890 opened #89 "Update go to 1.13.3 in helm-v3-dev branch"
**Describe the feature**
Update go to 1.13.3 in helm-v3-dev branch

[2019-10-26 16:54] karuppiah7890 opened #91 "Update helm to v3 in helm-v3-dev branch"
**Describe the feature**
Update helm to v3 in helm-v3-dev branch

[2019-10-26 17:43] masterkain commented on #69
[code]

it just keeps releasing.

I enabled `logReleaseDiffs` and got

[code]

not sure if it's relevant: https://github.com/google/go-cmp/blob/master/cmp/compare.go#L123-L124 or maybe it has something to do with how data is stored and/or retrieved.

[2019-10-26 17:53] masterkain commented on #69
I enabled `logReleaseDiffs`

and got ` []interface{}{}},\n- \t\t\"replicaCount\": float64(3),\n+ \t\t\"replicaCount\": s\"3\",\n  \t}`

[2019-10-28 16:43] Docteur-RS commented on #51
@kav Thanks for your suggestion :-)
The problem with rebooting a chart till it works is that sometimes there's no apparent signs of crash on the Kubernetes side.

I have a few charts that when deployed, crash for network reasons. They try to connect to some other charts that have not been deployed yet.

Unfortunatly they don't always show up as "0/1" in kubernetes meaning they won't be redeployed.

[2019-10-29 13:02] nweedo3 commented on #80
Resolved by https://github.com/fluxcd/helm-operator/pull/83.

[2019-10-29 13:02] #80 closed, assigned to nobody

[2019-10-30 01:50] kav commented on #51
Not to backseat code but have you looked into adding liveness and readiness probes all around? I've found Kubernetes to be quite good at managing the chaos with a tiny bit of info from services on their happiness

[2019-10-30 09:04] Docteur-RS commented on #51
@kav Haha yeah ! I know you're right ! Unfortunalty, I don't always have access to what is deployed in the Git repository :-(
And I don't think that I can add readiness probes from the HelmRelease file directly ? **Then I would have to update the chart files themselves which is kind of anoying when everything is overrided from the HelmRelease file and the chart files are left untouched.**

Letting

[2019-10-30 09:14] Docteur-RS commented on #51
Moreover specifying the order of installation would not solve the problem of deleting a chart manualy.
Flux will recreate it and pre existing ressources could blocked the reinstallation process.
Rendering the way to specify the installation useless.
😭

[2019-10-30 18:16] torstenwalter commented on #91
[helm 3 RC1](https://github.com/helm/helm/releases/tag/v3.0.0-rc.1) is out since yesterday

[2019-10-31 09:07] slenky commented on #91
I am trying to upgrade it but facing an issues with k8s version in go.mod:

[code]
or
[code]
:(

[2019-10-31 09:47] gaveezy opened #93 "Helm client in operator gets namespace wrong"
**Describe the bug**
I try to run install a chart from operator pod but it seems helm client get the namespace wrong.
Get pods
[code]
Output
[code]
Open a shell to operator
[code]
Output
[code]
With the `ls` it works
[code]
Output
[code]
But when install
[code]
Output:
[code]

Install works when try from another helm client, same version.
[code]

**To Reproduce**
Steps to reproduce the behaviour:

[2019-10-31 12:56] masterkain opened #94 "Git over HTTPS support"
Helm Operator allows for recycling the git ssh key eventually used in a Flux setup, however Flux does also support Git over HTTPS to fetch its state:
https://github.com/fluxcd/flux/blob/master/chart/flux/README.md#flux-with-git-over-https
which is the method I initially adopted.

However as per Helm Operator's readme the only method supported is the git deploy key:
https://github.com/fluxcd/helm-o

[2019-11-06 17:48] jdfalk opened #96 "Filter namespaces by annotation rather than `--allow-namespace`"
**Describe the feature**
Create an annotation like `helm.fluxcd.io/enabled`: `false` instead of using the specify namespace field. This follows the patterns of other major k8s projects like flux `fluxcd.io/automated: "false"`, istio, jaeger, certmanager, etc.

**Background**
We have a multi-tenant  cluster where we want to have two completely separate instances of tiller, flux, flux-helm-operator.

[2019-11-06 19:57] demisx commented on #36
Receiving the same error with prometheus operator here too. Not sure what that is. A better error message would definitely help.

[2019-11-07 22:09] marshallford commented on #91
[Helm v3.0.0-rc.3](https://github.com/helm/helm/releases/tag/v3.0.0-rc.3) is out.

[2019-11-08 11:28] hiddeco commented on #36
This has been resolved in #47, which became available in `v1.0.0-rc2`.

[2019-11-08 11:28] #36 closed, assigned to nobody

[2019-11-08 13:15] hiddeco opened #98 "Decouple release reconciliation from chart source sync"
In the current state of the code base the `chartsync` package tries to take care of too many things to make it easy to work with, as it:

1. keeps track of chart source changes in Git
2. provides the tools to fetch chart sources from HTTP(S) Helm chart registries
3. re-conciliates `HelmRelease` resources to match the expected Helm release state

As 3 has much overlap with the `release` package, an

[2019-11-08 16:10] karuppiah7890 commented on #91
@slenky Do you want some help? May be we could remote pair and work on this? I tried it too, and faced the same errors. But I think I know how to get around them

[2019-11-08 16:11] karuppiah7890 commented on #91
Let me know. I would be willing to help 😄

[2019-11-08 18:39] demisx commented on #36
@hiddeco Thank you very much for letting us know. I see that helm chart is [still referencing `v0.10.1`](https://github.com/fluxcd/flux/blob/master/chart/flux/values.yaml#L25). What is the current process for upgrading helm operator version? Do we wait until `v1.0.0` stable is released?

[2019-11-08 21:32] nathan-sixnines opened #100 "valueFileSecrets works but valuesFrom.secretKeyRef doesn't"
**Describe the bug**
A clear and concise description of what the bug is.

valuesFrom.secretKeyRef didn't work for me.

I thought I must have been doing something wrong with the formatting of my b64 encoded secret, but I just tried switching to valueFileSecrets and it worked with the same secret that failed for the valuesFrom.secretKeyRef

**To Reproduce**
Steps to reproduce the behaviour:

Take a

[2019-11-11 16:16] jakubigla opened #102 "Allow helm template feature"
**Describe the feature**
In some environments tiller is a no go, hence all helm charts are deployed via `helm template` command. It would be great if this operator allowed that.

[2019-11-11 16:19] stefanprodan commented on #102
We are working on Helm v3 support. I don't think we will be supporting helm template since in v3 Tiller has been removed.

[2019-11-11 16:28] jakubigla commented on #102
Thanks for the answer @stefanprodan. Is `helm-v3-dev` branch ready to be used on non production environments with no major issues?

[2019-11-11 16:57] stefanprodan commented on #102
Yes it is, we did a [workshop](https://helm.workshop.flagger.dev/prerequisites/#helm-operator) at Helm Summit with Helm Operator based on `helm-v3-dev`.  @hiddeco can you point @jakubigla at the latest container build of helm-v3-dev branch?

[2019-11-12 08:32] hiddeco opened #103 "End-to-end tests"
Given that there has been much progress on the end-to-end testing side of Flux, and we can use a lot of the libraries there to scaffold the tests here, the easiest way to get a validation of all (new) features is to test them in an end-to-end setting.

The minimum tests required to get an overview are:

- Installation
  - [x] Helm v2 git chart installation
  - [x] Helm v2 repo chart installation

[2019-11-13 16:16] marshallford commented on #91
[Helm v3](https://github.com/helm/helm/releases/tag/v3.0.0) is out!

[2019-11-14 08:51] dminca commented on #8
[Helm 3.0.0 stable](https://helm.sh/blog/helm-3-released/) has been released 🎉

[2019-11-14 09:00] stefanprodan commented on #8
Helm v3 support can be tested with builds of the `helm-v3-dev` branch.

Install Helm v3 CLI and add it to your path:

[code]

Install Flux:

[code]

Install the HelmRelease CRD that contains the helm version field:

[code]

Install Helm Operator with Helm v3 support using the latest build:

[code]

Keep an eye on https://hub.docker.com/repository/docker/fluxcd/helm-operator-prerelease/tags?page=1&

[2019-11-14 21:49] hiddeco commented on #85
Closed via #107.

[2019-11-14 21:49] #85 closed, assigned to nobody

[2019-11-15 17:51] karuppiah7890 commented on #91
Shall I pick this up?

[2019-11-15 19:38] StupidScience commented on #69
Have the lot of same diffs as @masterkain
I don't use secretKeyRef in any charts.

[2019-11-17 02:43] derrickburns opened #108 "Flux Helm Operator freezes...."
See:

https://github.com/solo-io/gloo/issues/1730

[2019-11-20 11:26] hiddeco opened #109 "Improve leakage prevention / garbage collection of git mirrors"
The refactor in #99 took ultimately care of preventing git mirrors from staying around after all `HelmRelease` resources that referred to it were removed.

The solution, although being an improvement to what it was, is non optimal and can be improved, as it relies on receiving a signal from the mirror to clean itself up, which is something that won't work for stale repositories or repositories tha

[2019-11-20 11:28] #98 closed, assigned to hiddeco

[2019-11-21 12:34] #89 closed, assigned to nobody

[2019-11-22 19:31] derrickburns commented on #108
And another instance:
[code]
Then I pushed the branch.

Then:

[code]

with no progress!

[2019-11-22 19:37] grrywlsn commented on #120
+1 for this feature request. We're also trying to decouple the Terraform (which sets up the Kubernetes clusters), from the Flux repos that declare deployed services (specifically, ExternalDNS, Cert-manager).

We use HelmReleases rather than Kustomize in most cases, and we'd like to be able to add a cluster domain as values into a few of the HelmRelease files. The Terraform starts the cluster and d

[2019-11-22 19:40] derrickburns commented on #108
This was caused by a templating error in the helm chart that it was reading.

[code]

[2019-11-22 19:47] hiddeco commented on #120
@grrywlsn the Helm operator is already able at this point to fetch values from various sources at runtime, see the [`.spec.valuesFrom` documentation](https://docs.fluxcd.io/projects/helm-operator/en/latest/references/helmrelease-custom-resource.html#spec-values). The only limitation at the moment is that the Kubernetes resources being referred to need to be defined in the same namespace as the `He

[2019-11-22 19:51] grrywlsn commented on #120
@hiddeco excellent - that might actually cover our use case here. Thanks for that!

[2019-11-22 20:14] grrywlsn commented on #120
Just to clarify, do you think that limitation will be changed in future? is there a plan that I could address a ConfigMap in another namespace, for example?

[2019-11-24 11:56] rowecharles commented on #8
I've taken a look at the latest image (`helm-v3-dev-7589ee47`) and the operator is continually attempting to upgrade some releases depite there being no changes.  An example is:

[code]

The logs show that the operator thinks there is a difference between the applied and expected chart due to the type mismatch for the value of `replicas`:

[code]

The important part being:

[code]

This doesn't im

[2019-11-24 13:39] eschereisin commented on #8
I am taking a look on helm-v3-dev-7589ee47 and helm-operator creates secrets in the following format:

[code]

where Helm 3 has a prefix:

[code]

[2019-11-24 21:29] hiddeco commented on #8
@rowecharles thanks for reporting this. The reason this seems to happen is because the dry-run values generated by Helm (internally) are returned directly from memory and take a shorter route than the values returned from storage, bypassing a parser that casts the float values to strings.

I was able to get rid of the spurious 'upgrades' by always casting the values to a YAML string, and then re-r

[2019-11-24 22:23] hiddeco commented on #120
I think having the option to merge values in at a certain level, to make it possible to e.g. duplicate it to different sections, would make sense to add.

Having the option to refer to `ConfigMap` or `Secret` resources in another namespace is something that needs to be well thought out, as without restrictions it can be easily abused by a bad actor.

[2019-11-25 09:37] stromvirvel commented on #8
Is there an estimate when helm-operator supports helmv3 production-ready? Can I offer help for testing/evaluation?

[2019-11-25 09:43] timja commented on #8
@stromvirvel See https://github.com/fluxcd/helm-operator/issues/8#issuecomment-553791295

Pre-release builds are published on every commit to the helm-v3-dev branch.
All testing and feedback would be welcomed I'm sure 😄

[2019-11-26 16:02] jwietelmann opened #122 "Questions: Why does the CRD require manual installation instead of using the `crd-install` hook?"
The `helm-operator` chart docs say to apply the CRD manually. [The Helm 2 docs](https://v2.helm.sh/docs/chart_best_practices/#method-2-crd-install-hooks) say that the annotation `"helm.sh/hook": "crd-install"` will ensure that a CRD is installed before other resources.

I've seen this on other charts, too. Is requiring manual install a backward compatibility thing? Does the `crd-install` hook work

[2019-11-26 16:15] hiddeco commented on #122
It is possible, we just do not encourage it as it tends to be problematic when using Helm in a declarative way.

Flux would for example not be able to sync any custom resources for as long as the custom resource definition has not been applied to the cluster, which may be fine if you gradually add resources to your cluster, but becomes more problematic when you are performing a disaster recovery.

[2019-11-26 16:18] jwietelmann commented on #122
Does Helm 3 improve on the situation, or is it just an aesthetic change (`crds` directory instead of a hook annotation)?

[2019-11-26 16:42] stefanprodan commented on #122
Helm 3 applies the crds content only at install so we can't rely on it to ship CRD updates, that's why we chose to move the HelmRelease definition outside of the chart.

[2019-11-26 16:44] jwietelmann commented on #122
Thanks to both of you. This has been very helpful.

[2019-11-26 16:44] #122 closed, assigned to nobody

[2019-11-26 17:23] #91 closed, assigned to nobody

[2019-11-27 10:58] mazzy89 opened #126 "Merging secrets does not work as expected"
**Describe the bug**

I have the following YAML in an Helm chart `values.yaml`

[code]

and I fetch secrets in this way:

[code]

The Secret `values.yaml` files that is supposed to merged looks like:

[code]

but the merging does not work as expected. I believe that it is not possible to merge at that level. am I right?

**To Reproduce**
Steps to reproduce the behaviour:
0. What's your setup?
1. G

[2019-11-27 14:52] stefanprodan commented on #8
Helm Operator using Helm v3 (stable) can now be tested.

Install Helm v3 CLI and add it to your path:

[code]

Install Flux:

[code]

Install the HelmRelease CRD that contains the helm version field:

[code]

Install Helm Operator with Helm v3 support using the latest build:

[code]

We've created a a GitHub issue template for Helm v3. Please take this for a spin and create issues if you find any

[2019-11-27 14:59] stefanprodan commented on #69
The latest build of helm-v3-dev branch should've fixed this issue. Please test it out, here are the install instructions https://github.com/fluxcd/helm-operator/issues/8#issuecomment-559119525

[2019-11-27 15:00] stefanprodan commented on #68
The latest build of helm-v3-dev branch should've fixed this issue. Please test it out, here are the install instructions https://github.com/fluxcd/helm-operator/issues/8#issuecomment-559119525

[2019-11-28 14:39] brew commented on #69
Testing with the updated `helm-v3-dev-0b11d9d0`, and all is well. No extra helm releases created. Thanks!

[2019-11-28 15:05] brew commented on #68
Tested with helm-operator `helm-v3-dev-0b11d9d0`, but get a slightly different error than before: "could not find protocol handler for: https".

[code]

[2019-11-28 18:38] mazzy89 commented on #126
I have found here the logic behind the merge https://github.com/fluxcd/helm-operator/blob/e4dc79e67be4fd1ae239ea3902e321ddfd4323ac/pkg/release/release.go#L489 and seems that it is the exact same limitation that Helm has in merging arrays.

I'm not sure if this is an expected thing

[2019-11-29 09:53] mazzy89 commented on #126
This test shows in a better way the behviour:

[code]

As results:

[code]

[2019-11-30 05:38] stefanprodan commented on #69
Thanks @brew

[2019-11-30 05:38] #69 closed, assigned to nobody

[2019-12-01 21:44] hiddeco commented on #68
@brew I think you should have more luck with #127, available as `hiddeco/helm-operator:helm-v3-repository-deps-8ec58bff` until merged.

[2019-12-02 09:59] brew commented on #68
@hiddeco The branch `hiddeco/helm-operator:helm-v3-repository-deps-8ec58bff` fixes the dependency download issue for me. Many thanks!

[2019-12-02 10:22] hiddeco commented on #68
@brew it was merged about half an hour ago so if CI is speedy you should be able to switch back to the `helm-v3-dev-*` tag range. Thanks a lot for testing! 🍰

[2019-12-02 10:23] #68 closed, assigned to nobody

[2019-12-02 12:10] jbuettnerbild commented on #94
i have the same problem. i don't want to configure flux and the helm operator differently. One time with git username and token and otherwise with a ssh key.

[2019-12-02 18:55] kalebwalton commented on #12
Agree - our releasable artifact is a combo image + helm chart. The Helm chart will always have the latest image reference.

[2019-12-03 19:35] dragonsmith commented on #8
Hey!
I'm testing `fluxcd/helm-operator-prerelease:helm-v3-dev-0b11d9d0` on my cluster right now and it mostly works but I get a strange behaviour.

For example. Here is what I get after a fresh install of sealed-secrets-controller:

[code]

I also get validation errors from cert-manager release, which is also managed by helm-operator right now:

[code]

Do you have any ideas how to address that?

[2019-12-03 19:57] stefansedich opened #130 "Existing resource conflict with sealed-secrets release"
**Describe the bug**
Getting the following with a new sealed-secrets release, it initially instally fine but then on the next loop will spit out the following error in the logs:

[code]

In this case it is right after the initial install and there are actually no changes, from what I can tell if I make an actual change to the helm-release (say I bump the version down) it will actually re-deploy wi

[2019-12-03 21:29] gsf commented on #8
@dragonsmith Are you able to install these charts with the helm v3 CLI? The way CRDs are handled has changed: https://helm.sh/docs/topics/chart_best_practices/custom_resource_definitions/

[2019-12-03 21:46] dragonsmith commented on #8
@gsf the interesting thing is these charts are installed successfully either way (via helm3-cli or using helm-operator). It's just that helm operator gives such warnings.

Also, look closer: the second warning is about: `ValidationError(ValidatingWebhookConfiguration.webhooks[0].namespaceSelector.matchExpressions[1].values): unknown object type \"nil\"`

I'm aware that there are changes to CRD han

[2019-12-03 22:18] gsf commented on #8
@dragonsmith That ValidationError looks like this issue: https://github.com/pegasystems/pega-helm-charts/issues/34#issuecomment-558662554.

[2019-12-04 08:50] jan-schumacher opened #132 "Private Cluster unable to start (Timeout on startup)"
**Describe the bug**
When a Cluster is not able to connect to the stable (googleapis) repository the helm-operator container is not able to start up because the request is hanging in a 30sec timeout and the readinessprobe is not getting ready because the healthz endpoint is not reachable. Also with disabled repositories this is still the case.

**To Reproduce**
Steps to reproduce the behaviour:
0.

[2019-12-04 13:53] sa-spag opened #133 "Dry run installs are processed serially"
Hello there 👋

**Describe the bug**
I have noticed that even though I have set the numbers of workers to 4, the Helm operator seems to dry-run install releases serially. I verified using a chart that takes about 2 minutes to be rendered and the queue is plateauing as such:

<img width="674" alt="Capture d’écran 2019-12-04 à 13 59 54" src="https://user-images.githubusercontent.com/3592135/7014461

[2019-12-04 15:35] stefansedich commented on #130
With #131 merged and `helm-v3-dev-53b6a21d` rolled out I am not seeing these errors anymore so will close this one off.

[2019-12-04 15:35] #130 closed, assigned to nobody

[2019-12-05 08:14] StupidScience opened #134 "forceUpgrade doesn't work for helm3 operator"
**Describe the bug**
Looks like `forceUpgrade: true` doesn't work for operator with helm3. Got `failed to upgrade chart for release [release-name]: rendered manifests contain a resource that already exists` errors.

**To Reproduce**
Steps to reproduce the behaviour:
1. Delete helm-release
2. Wait till helm-operator will try to create it
3. Observe errors

**Expected behavior**
If this flag is set

[2019-12-05 08:20] StupidScience opened #135 ""failed to compose values for chart release" errors"
**Describe the bug**
All my helm releases got failure message `failed to compose values for chart release` while it looks like everything is working well and upgrades go through.

**To Reproduce**
1. Install or upgrade release
2. Wait a bit
3. Profit

**Expected behavior**
No failure message

**Logs**
Nothing specific.

**Additional context**
Helm operator version: docker.io/fluxcd/helm-operator-p

[2019-12-08 14:36] mmaask commented on #94
This should be supported indeed. Currently helm operator git clones are all getting access denied.

[2019-12-09 09:29] denysvitali opened #136 "Update go.mod to use flux v1.16"
**Describe the bug**
Currently it is not possible to use Flux v1.16.0 as a module in a Go package because it relies on helm-operator@v1.0.0-rc2, which in turn relies on flux@v1.15.0, which in turn relies on the docker/distribution@v.0.0.0-0010101000000(...) revision.

[code]

**To Reproduce**
go.mod:

[code]

**Expected behavior**
A successful `go get`

**Related issues / commits**
- https://githu

[2019-12-09 13:24] hiddeco commented on #94
The only way this would work at the moment is if one would provide plain credentials in the `HelmRelease` `spec.chart.git` entry. The reason this is not required for Flux is because Flux is able to utilize the [variable substitution built in to Kubernetes](https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/#using-environment-variables-inside-of-your-conf

[2019-12-09 13:35] hiddeco commented on #132
This is due to the hardcoded import I added in #124. The workaround till the permanent solution is in place is to mount an empty file at the path it imports (`/var/fluxd/helm/repository/repositories.yaml`).

[2019-12-09 13:39] hiddeco commented on #135
Can you provide me a copy of one of `HelmRelease` resources, preferably one that makes use of e.g. a `stable` chart?

[2019-12-09 14:30] sa-spag commented on #62
Having the same concerns here. I am currently relying on a not so elegant Prometheus query:
[code]
It basically computes the difference between the timestamp of the last successful sync and the timestamp of the last failed sync (using `changes` to detect syncs).

As stated by @chainlink, new events would be very handy (e.g. using  events for [these conditions](https://github.com/fluxcd/helm-operat

[2019-12-09 21:55] stefansedich commented on #134
@StupidScience can you try out `helm-v3-dev-53b6a21d` I wonder if my previous fix to set dry-run to be client only will fix this issue too.

[2019-12-09 21:56] stefansedich commented on #135
@StupidScience `helm-v3-dev-53b6a21d` should fix this issue, I was seeing this issue and https://github.com/fluxcd/helm-operator/pull/131 fixed it right up.

[2019-12-10 10:22] Francois-Royer opened #140 "Get Helm repository credentials from k8s secret"
We are using a private helm registry. The only way to provide credential it to use https://user:password@repohost/ plaintext syntax which cause security issue. You should add possibility to get credentials from a k8s secret.

[2019-12-10 10:26] Francois-Royer commented on #140
We are using a private helm registry. The only way to provide credential it to use https://user:password@repohost/ plaintext syntax which cause security issue. You should add possibility to get credentials from a k8s secret.

[2019-12-10 21:43] hiddeco opened #142 "Manage Helm chart repositories using custom resources"
**Edit**: This has been implemented in helm-controller the successor of helm-operator, please see https://toolkit.fluxcd.io/

In #124 and #141 boilerplate was added to manage Helm chart repositories for Helm `v2` and `v3`. The current implementation is however extremely limited and still requires the user to provide (and manage) a repository index file.

It would be more user friendly, and declara

[2019-12-10 23:25] adurai81 opened #143 "nil pointer evaluating interface {}.jwk"
**Describe the bug**
A clear and concise description of what the bug is.

I'm trying to helm install istio. Trying to perform dry run fails with this error.

[code]

I've this in my values.yaml file

[code]

and the referencing code looks like this

[code]

**To Reproduce**
Steps to reproduce the behaviour:

This is how I'm testing -
`helm install --debug --dry-run . --namespace istio-system`

**E

[2019-12-11 02:19] zlangbert commented on #37
I would love to see this as well. For projects that dynamically create secrets based on some external source, it's usually very difficult if not impossible to embed all values under one key.

[2019-12-11 04:53] ghost commented on #37
(maybe) Try stringData instead https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-manually

[2019-12-11 11:27] hiddeco commented on #143
Correct me if I am wrong but from the information you have provided it seems that the `helm install` command does not work with the values provided, which would make this either a [Helm](https://github.com/helm/helm/issues/) or [Istio chart](https://github.com/istio/istio/issues) issue.

[2019-12-11 11:48] #135 closed, assigned to nobody

[2019-12-11 11:49] hiddeco commented on #132
This has been fixed in #141.

[2019-12-11 11:49] #132 closed, assigned to nobody

[2019-12-11 17:43] chainlink commented on #37
@josdotso can you explain? That seems to still involve embedding in values.yaml

[2019-12-11 17:59] adurai81 commented on #143
I believe this must be something to do with helm.

When I pass in the actual value instead of the variable then everything works well with istio.

Also to add on I changed from - ```jwksUri: "{{ .Values.authN.jwk }}"```

to -   ```jwksUri: "{{ .Values.global.authN.jwks_uri }}"```

and the values.yaml looks like this (authN nested under global)

[code]

Again in this case it all worked well.

Do th

[2019-12-11 21:50] alexanderbuhler opened #144 "Tiller timeout"
So this probably is not a bug, but I'm not sure on where to put this so I'll start with helm operator. 😩

Never had issues installing istio, but some stuff changed over the last weeks (k8s updates, tiller updates) and suddenly I cannot install/upgrade my istio helmrelease any more. Is there a way to modify that timeout? what does it even mean, after all?

Grateful for any hints on how to debug thi

[2019-12-11 22:31] hiddeco commented on #144
You can set the timeout to a higher value by defining `spec.timeout`, the value should be an integer and equals to seconds.

[2019-12-11 22:48] alexanderbuhler commented on #144
Alright, thanks.

Looks like this now:
[code]

Error message from helm operator stays the same, though. Comes right after 30s.

[2019-12-11 23:37] chancez commented on #94
Could you not just support configuring helm-operator with a single set of credentials and simply use them during cloning if present? I think supporting creds per-HelmRelease CR is a nice-to-have, but being able to simply specify HTTPS credentials (via env) to helm-operator would suffice for many use-cases. In fact, you could probably even just use `os.ExpandEnv` on the URI and call it a day, and w

[2019-12-11 23:55] hiddeco commented on #94
@chancez you can not simply use `os.ExpandEnv` on an URL as [`$` is a reserved character (sub-delim) according to RFC3986](https://tools.ietf.org/html/rfc3986#section-2.2) and it is thus possible that a value in an URL is also present as an environmental variable, causing an accidental replace.

[2019-12-12 00:13] chancez commented on #94
Fair enough.

[2019-12-12 12:12] alexanderbuhler commented on #144
Might this be related to https://github.com/helm/helm/issues/2025 ?

I now got to be debugging this by hand, and even following one of the guys advice to issue the request inside the cluster
`helm install --name istio --namespace istio-system --values values.yaml --host=172.25.2.16:44134 --wait --timeout 180 istio/istio`

is still giving me
`Error: release istio failed: Timeout: request did not co

[2019-12-12 19:09] derrickburns commented on #108
@hiddeco
I am still getting freezes.

[code]

current time: 17 minutes later

In this case, there was another templating error.

[code]
The extra spaces before the three hyphens is an error.

At minimum, I suggest that the helm operator should fail a liveness test and be automatically restarted.  It does not.

[2019-12-12 19:20] StupidScience commented on #134
@stefansedich looks like it is not operator but helm issue - https://github.com/helm/helm/issues/6850 and https://github.com/helm/helm/issues/7082
I'll close this one.

[2019-12-12 19:20] #134 closed, assigned to nobody

[2019-12-13 10:40] adeleglise opened #146 "Git.path not applied"
**Describe the bug**
I have two clusters, one for production and one for dev/staging. I have recently merged the gitops code so that I only have one repo to maintain.

I have reintalled flux and helm-operator, to the them the new repo URL and a git.path for each cluster.

On the prod cluster everything is working fine, however the dev/staging cluster is syncing the whole repo instead of the path s

[2019-12-13 12:15] hiddeco commented on #146
The `git.path` configuration you are referring to has no effect on what the Helm operator does, [as it has no `--git-path` flag](https://docs.fluxcd.io/projects/helm-operator/en/latest/references/operator.html).

For the Helm operator, what is looked at and/or cloned depends on the git configuration(s) inside your `HelmRelease` resources.

[2019-12-13 12:18] adeleglise commented on #146
Ok.

But why do I see the root repo in the dev/stg cluster and I see only the inside of the specified folder in the prod cluster ?

[2019-12-13 12:36] hiddeco commented on #140
It is possible to securely provide the credentials by mounting a custom Helm repository index from a secret, the expected path for this file is `/var/fluxd/helm/repository/repositories.yaml`.

[2019-12-13 12:40] hiddeco commented on #146
Without knowing more details about your setup it is impossible to tell for me. The Helm operator always uses a full working clone of the Git repository it mirrors for a release, reason for this is that there can be local path references for chart dependencies.

Are you sure the `/tmp/flux-workingXXXXXXX` folders you checked out were in the Helm operator container, and you did not e.g. mix up Flux

[2019-12-13 12:49] adeleglise commented on #146
Yeah I'm sure about that. I've done multiple times. However I've rolledback the changes. I will continue to read the documentation and I will merge the code later on. Maybe using git branches. Anyway thanks for your help.

[2019-12-13 12:49] #146 closed, assigned to nobody

[2019-12-13 15:33] onedr0p opened #147 "Provide multiarch Docker images"
Seeing as the project uses dockerhub which supports such multiarch images (unlike quay) what could be an issue getting this set up?

[2019-12-13 15:49] hiddeco commented on #147
Adopting official support for ARM (or any other arch) also means that we have to maintain and deliver community support for it. Given our limited amount of maintainer bandwidth it simply isn't high enough on the list of priorities for us at the moment.

It is however a valid enhancement so I am happy to keep it on the issue backlog.

[2019-12-16 09:25] maxstepanov opened #149 "Git chart updates do not trigger release"
**Describe the bug**
Git chart updates do not trigger release.

**To Reproduce**
1. Deploy latest image helm-operator:helm-v3-dev-e9d83566
2. Deploy HelmRelease with chart in git.
3. Update pod label in git chart repository.

**Expected behavior**
helm-operator should upgrade the release but nothing happens.

**Logs**
Nothing in logs.
I see that HelmRelease is updated with new git sha but no helm

[2019-12-16 10:08] Francois-Royer commented on #140
Ok, I miss that in documentations. Thanks !

[2019-12-16 10:13] hiddeco commented on #149
The release revision is only set after making the upgrade https://github.com/fluxcd/helm-operator/blob/helm-v3-dev/pkg/release/release.go#L223

[2019-12-16 13:09] sa-spag opened #151 "Watch for ConfigMaps and Secrets values changes to trigger a sync"
Today, the Helm operator does not trigger an upgrade as soon as a ConfigMap or Secret referenced using HelmRelease `.spec.valuesFrom` changes. It would be nice not to have to wait for the next periodic sync to have the release updated.

[2019-12-16 16:31] Francois-Royer commented on #140
So I manage to mount /var/fluxd/helm/repository/repositories.yaml into flux-helm-operator pod from a secret that contain my private repository, but I still not able to use it. What should I put in  helmrelease to use repo from  /var/fluxd/helm/repository/repositories.yaml file ?

[2019-12-16 16:40] hiddeco commented on #140
Given your repository index file looks like the following, and your chart is called `my-chart`:

[code]

your `HelmRelease` `spec.chart` entry should look like:

[code]

[2019-12-16 20:29] maxstepanov commented on #149
I'm basing this on assumption that git charts are upgraded if they contain changes, regardless of the `.Chart.version` increment. It doesn't happen. If i delete helm release or increment the `.Chart.version` then changes are applied.

[2019-12-16 22:41] hiddeco commented on #149
@maxstepanov can you share a copy of the logs from around the time the release is being processed? This gives me a bit more to work with.

[2019-12-17 01:35] derrickburns opened #152 "Image deployed does not match helmrelease"
I got an alarming message from my boss saying that a version of our web site was deployed that has not completed QA testing.  The service in question is installed via a Helmrelease.

Here is the the relevant portion of the `Helmrelease`:
[code]

Notably, when I list the workloads using `fluxctl` I see this two workloads for `blip`, one associated with the helmrelease and one associated with the de

[2019-12-17 07:53] Francois-Royer commented on #140
ok I get it worked. Thanks you for your help.
So repository in helm release must match exactly the url in repositories.yaml file.
I close the issue

[2019-12-17 07:53] #140 closed, assigned to nobody

[2019-12-17 09:52] maxstepanov commented on #149
@hiddeco I think i was mistaken by claiming that revision is updated. It is not. The git chart changes just silently ignored. There are basically no logs.
While adding the logs i think i've found the bug!

https://github.com/fluxcd/helm-operator/blob/f2ad4dfc4c8235e9202ad6e70ad99bf1ceb1c317/pkg/release/release.go#L340

What is being compared here are just `.Chart` fields. Templates are not compare

[2019-12-17 10:06] hiddeco commented on #149
@maxstepanov this was indeed what I was already suspecting. I will work on a patch, thanks for testing and reporting the issue :tulip:

[2019-12-17 10:18] hiddeco commented on #152
This is expected behaviour as `fluxctl` lists what is running in the cluster contradictory to what is in Git.

This is technically impossible, Flux only automates things it has YAMLs for, and only applies (or rather pulls and applies) them on the cluster after pushing the change to Git. As this deployment is the result of a Helm release, there is no YAML in Git to update, push, pull, or apply.

Th

[2019-12-17 15:49] derrickburns commented on #152
As I stated above:

Prior to this happening, I did (weeks ago) manually deploy the blip service outside of the helmrelease. The deployment did not have an fluxcd.io/automated: "true" annotation

Also the helmrelease does have an annotation that identifies the location of the image tag. So your comment about reaching down does not apply.

We are a non-profit health care company with real lives at s

[2019-12-17 16:25] #152 closed, assigned to nobody

[2019-12-17 16:25] derrickburns commented on #152
Thank you for your attention to this

[2019-12-18 20:06] Maatary opened #153 "Does the helm-operator handles jobs ?"
I am interested in migrating my kubernetes deployment appraoch to be operator based. In particular using the Helm operator as we are using helm already.

However in my infrastructure we have a lot of jobs, and wonder how does the helm-operator handle jobs spec ?

How does it delete, or replace running job ? a job spec might not change and we just need to run the job again ? So that would not invol

[2019-12-20 11:31] #149 closed, assigned to hiddeco

[2019-12-20 12:47] noamt opened #155 "Automated release picks image contrary to filter"
**Describe the bug**
The `HelmRelease` updates with new tags that don't match the filter

**To Reproduce**

1. Single cluster
2. 2 namespaces - `research` and `production`
3. Single chart repository that defines a web app
4. A `HelmRelease` object that controls the web app on the `research` namespace with a filter of `'glob: develop-*'`
5. A `HelmRelease` object that controls the web app on the `p

[2019-12-21 22:16] carlpett commented on #120
@hiddeco Re malicious cross-namespace referencing, shouldn't it normal Kubernetes RBAC be enough to mitigate that? If the helm-operator service account has been given access to the relevant secret/configmap, isn't that a signal that anyone with access to that helm-operator is delegated access to the content of those resources?
Are there cases that are "supported"/recommended where a single helm-op

[2019-12-23 01:43] onedr0p commented on #8
Glad to see this merged into master, can't wait for the next release 👍

[2019-12-23 15:13] hiddeco commented on #8
Release with _beta_ support for Helm v3 was just published, changelog can be found here: https://github.com/fluxcd/helm-operator/releases/tag/v1.0.0-rc5

I am keeping this issue open till it can be considered stable.

[2019-12-23 22:08] rowecharles commented on #8
Latest release (`v1.0.0-rc5`) is working great for the most part.  I'm getting issues with the prometheus-operator chart which every time a chart sync occurs is triggering an upgrade.  This is due to the current and desired charts having diverged.  The logs aren't particularly helpful and are a mass of hex characters.

[code]

I'm using this as the release:

[code]

[2019-12-23 23:52] hiddeco commented on #8
@rowecharles thanks for reporting, my guess is that the CRD is included as a dry-run chart result but not included in the chart we compare it with retrieved from storage.

We could technically reduce the comparison for charts from repository sources as the published versions should be immutable, making it possible to rely on just the chart (version) metadata instead of doing file comparisons like

[2019-12-24 12:51] REBELinBLUE commented on #8
I am having a strange issue with helm 3 support today

[code]

Can't figure out why it is suddenly finding up upgrade to helm operator, or why it is suddenly uninstalling it :|

[2019-12-24 19:26] kav commented on #36
I'm seeing the issue in v1.0.0-rc5. @hiddeco is there a regression? Need more info? This is on a helm v3 deployment

[2019-12-25 21:50] runningman84 opened #162 "helm operator does not work with chart source git anymore "No requirements found in...""
**Describe the bug**
The helm operator does not work with chart source git anymore. This used to work fine before. I have followed all upgrade steps outlined in these docs:
https://docs.fluxcd.io/projects/helm-operator/en/latest/guides/upgrading-to-ga.html

**To Reproduce**
Steps to reproduce the behaviour:
1. install chart helm-operator-0.4.0 with version1.0.0-rc5
2. configure a custom helm chart

[2019-12-25 21:56] runningman84 commented on #162
This might be a similar issue:
[code]
This is the corresponding HelmRelease:
[code]

[2019-12-25 22:03] runningman84 opened #163 "helm operator fails to reinstall software due to "failed to uninstall release""
**Describe the bug**
helm operator fails to reinstall software due to "failed to uninstall release". Funny enough chronograf cannot be found using helm ls --all anymore.

**To Reproduce**
Steps to reproduce the behaviour:
1. install chart helm-operator-0.4.0 with version1.0.0-rc5
2. watch for errors

**Expected behavior**
helm operator should just install it

**Logs**
If applicable, please provide

[2019-12-26 06:46] stefanprodan commented on #163
Kubernetes 1.16 does not support `extensions/v1beta1` anymore, you either update the chronograf Deployment spec to `apps/v1` or downgrade to Kubernetes 1.15

[2019-12-26 06:46] #163 closed, assigned to nobody

[2019-12-26 07:50] runningman84 commented on #163
But the error message failed to uninstall is at least misleading?

[2019-12-26 08:13] stefanprodan commented on #163
The message comes from the Kubernetes API saying that is unable to recognise the `extensions/v1beta1` version. Helm Operator logs whatever error Kubernetes returns.

[2019-12-26 15:23] runningman84 commented on #163
Yes that's ok but why is it complaing about uninstalling it?

[2019-12-26 22:08] runningman84 commented on #162
using helmVersion v3 everything seems to work fine...

[2019-12-27 01:25] palemtnrider opened #164 "Chart lookup fails and appears to be looking in the wrong cache"
**Describe the bug**
Using 0.4.0 (1.0.0-rc5) and the podinfo hr doesn't load with the following error:
`chart unavailable: no cached repo found. (try 'helm repo update'). open /var/fluxd/helm/repository/cache/stable-index.yaml: no such file or directory`

[code]

Switching back to 0.3.0 and the chart is loaded correctly.

**To Reproduce**
Steps to reproduce the behaviour:
0. What's your setup?
hel

[2019-12-27 09:06] runningman84 commented on #8
It would be great if the helm operator would only install actuall charts if the version changed (just compare the version number in case of a normal helm chart) or the git commit id changed (in case of a chart stored in a git repo). Right now helm operator consumes a lot of cpu...

Maybe this could also be an option which could be turned off for debugging.

I have also found some other issue... if

[2019-12-27 10:50] runningman84 commented on #8
The new prometheus metric are confusing me. I would like to build an alert to notify if a helm release fails. I would expect some metric like helm_status.

The metric flux_helm_operator_release_duration_seconds_sum success=true/false metric does not correspond with the status of kubectl get hr. I would expect to have success=true for all releases which are marked as deployed...

[2019-12-27 13:15] jclynny opened #165 "configureRepositories[0].name requires single quoting the shell command"
**Describe the bug**
When installing the helm operator and setting up custom repositories: https://github.com/fluxcd/helm-operator/blob/master/chart/helm-operator/README.md the documentation should point out that `configureRepositories[0].name` is a string and needs to be single quoted.  Documentation should be updated to state this.

**To Reproduce**
Steps to reproduce the behaviour:
0. What's yo

[2019-12-28 15:09] davidkarlsen commented on #164
I am seeing the same. Could it be because I use several repos?

[2019-12-28 15:18] davidkarlsen commented on #164
Hmm, could it be that update of one repo affects the others?
I see:
[code]
which should not matter for this chart which is a bitnami one.

[2019-12-28 17:04] davidkarlsen commented on #164
and after a while:
[code]

[2019-12-28 17:09] runningman84 commented on #8
Installing the prometheus operator using helm operator generates error messages like this:
[code]

[2019-12-28 18:53] stefansedich opened #167 "Failing to update chart containing child HelmRelease and nested values"
**Describe the bug**

Given the following chart https://github.com/stefansedich/helm-test if one were to apply the outer release.yaml it would install the first time without issue however after an update say bumping the nested image tag we would see the following error: `failed to create patch: merging an object in json but data type is not struct, instead is: map`

Installing directly with helm u

[2019-12-30 21:13] apenney commented on #36
Just to chime in that I see this also and it's spamming my logs (on helm v3)

[2019-12-30 22:31] apenney commented on #8
I stumbled over similar issues to other people (charts constantly redeploying for no reason), so if you need a few others to validate that patch with @hiddeco (and obviously keep enjoying your vacation instead of reading this!) you can check out:

stable/datadog
edge/linkerd2

For me both constantly redeploy over and over, with linkerd actually taking down helm-operator as it can't figure out some

[2020-01-01 13:09] weaktyper opened #168 "Chart issue - configureRepositories.repositories[0].caFile is not settable"
**Describe the bug**

It is not possible to set `caFile`, `certFile` or `keyFile` because the template function will always set them to `""`.

**To Reproduce**

Run `helm install --set configureRepositories.repositories[0].enable=true --set configureRepositories.repositories[0].caFile="something"` and it will never be set

**Expected behavior**

`caFile` should be a settable value. Not be forced t

[2020-01-02 19:18] OliverLeighC opened #169 "Helm Release failing on ChartFetched stage with inconclusive error logs"
I'm using flux with the helm-operator and I'm running into some issues that I think are related to the helm v3 upgrade.
Basically the helm release is failing, and it seems to be failing on the 'ChartFetched' stage, but the error logs are not super clear

output from `kubectl describe hr graphql`
[code]

the kubectl pod logs for the helm operator pod, looks like it fails on the first release and th

[2020-01-02 19:24] matmisie commented on #8
I have an issue with one of my custom charts. It installs correctly when I use helm v3 directly.

I have 2 hooks:
- install (post-install, weight 1, delete policy: hook-succeeded)
- migrate (post-install,pre-upgrade, weight 5, delete policy: before-hook-creation)

Helm operator fails because on the next poll interval it upgrades the release while a first install didnt yet finish? Maybe because the

[2020-01-02 22:17] kav commented on #36
It also appears the helm operator might be looping on upgrading the same HR object since I'm seeing `pending-upgrade` and activity on the hr ever after it successfully installed. Happy to toss in some logs or investigate

[2020-01-03 07:48] llivingstone opened #170 "Helm Operator v4 Chart breaks image 0.10.1"
**Describe the bug**
When using image 0.10.1 of the Helm operator with v4 of the Helm Operator chart, the helm operator cannot run due to the following snippet being merged (a327b6aa2c2e8c83820b1d754e3eab0c18b6ea7e).

[code]

When upgrading to one of the Helm Operator RC images, the CRD required has changed from `helmreleases.flux.weave.works` to `helmreleases.helm.fluxcd.io`.

The issue with this

[2020-01-03 10:48] stefanprodan commented on #170
When upgrading set the versions flag to string empty.

[2020-01-03 10:58] llivingstone commented on #170
Thanks for the quick reply Stefan. I'll test this shortly.

[2020-01-03 17:32] stefansedich commented on #36
I am also seeing the same with rc5 and the datadog chart, my datadog installation was up to revision 5000 or so seems to be deploying over and over on each sync loop, thought I would try the latest dd agent chart to no avail and it only appears to be happening with this one chart.

[2020-01-03 19:55] iamlittle commented on #164
FWIW, I encountered this as well. Reverting to chart version 0.3.0 fixed it.

[2020-01-04 10:04] llivingstone commented on #170
Will close this.

Setting `.Values.helm.versions` to an empty string makes it compatible with the 0.10.1 image.

Thanks @stefanprodan

[2020-01-04 10:04] #170 closed, assigned to nobody

[2020-01-04 16:22] billimek commented on #164
I'm experiencing this as well using helm-operator chart version 0.4.0, FWIW.

It appears to have problems with any charts that are in the non-stable (default) repo, given the following from the helm-operator logs:

[code]

([values used for the helm-operator chart deployment](https://github.com/billimek/k8s-gitops/blob/master/flux/helm-operator/flux-helm-operator-values.yaml))

[2020-01-06 03:16] davidholsgrove commented on #164
Exec'ing into the helm-operator pod, I could see that the cache directory was indeed empty.
Manually carrying out a `helm2 repo update` (note: there is not `helm` binary on the PATH) successfully populated the cache, and the helm-operator was happy from here on?

[2020-01-06 14:41] OliverLeighC commented on #169
The helm operator version is: 1.0.0-rc5

[code]

[2020-01-06 14:48] stefanprodan commented on #169
Can you please confirm that:
- the chart can be installed with Helm v3 CLI
- execing into the helm-op container you can clone the repo

Thanks

[2020-01-06 15:04] OliverLeighC commented on #169
I can clone the repo within the helm-op container:

[code]

Confirming that it works with the helm v3 CLI now, will report back shortly

[2020-01-06 15:40] OliverLeighC commented on #169
So I ran it on a dry run first and it looked okay
I ran `helm install --dry-run --debug ./charts/graphql --generate-name`

[code]

but without the dry-run flag it error'd out:
`helm install --debug ./charts/graphql --generate-name `

[code]

[2020-01-06 16:19] OliverLeighC commented on #169
I was missing templates in my chart directory, I added those and now I can install with the helm CLI

[2020-01-06 16:22] stefanprodan commented on #169
Well that's the same error Helm Operator logs `no objects visited`.

[2020-01-06 16:31] OliverLeighC commented on #169
I am going to tear down our cluster and try again now that the chart has the templates, and see if the helm release will deploy with flux this time.

[2020-01-06 18:16] OliverLeighC commented on #169
It's working now, thanks so much for your help

[2020-01-06 18:19] #169 closed, assigned to nobody

[2020-01-06 18:56] stefansedich opened #174 "Changing values.yaml in chart does not result in new deployment"
**Describe the bug**
When changing a value inside the values.yaml for a referenced chart it appears as this change is not picked up and results in a new deployment not happening.

Given the following release:

[code]

If I were to then go and update the `replicaCount` in the charts values.yaml I would expect a deployment to happen but after a number of sync cycles nothing happens. If I were to go

[2020-01-06 19:20] stefansedich commented on #174
I have attempted to use `resetValues: true` in the HelmRelease which did not appear to change things.

[2020-01-06 21:43] demisx opened #175 "Helm Operator crashes with cannot patch resource "events" in API group error"
**Describe the bug**
I am upgrading helm operator from `v0.15.0`. I've deleted the old flux chart and installed the latest `1.0.0` with helm. I then installed the latest Helm Operator `v0.4.0` with helm chart. However, the operator crashes with `cannot patch resource "events" in API group "" in the namespace "flux"` error after running for a couple of mins.

**To Reproduce**
Install with:

[code]

[2020-01-06 22:20] vikas027 opened #176 "Question - Create a HelmRelease resource but not the chart"
Is there a way (possibly an annotation) to create a `HelmRelease` resource but not create the helm release? I am stuck in a chicken-egg situation where I have multiple helm charts in a git repository, and a few are dependent on _other resources_ (like an external database, secrets, etc). I don't want these helm charts to be released unless the _other resources_ are created.

My idea was to create

[2020-01-07 09:00] stefanprodan commented on #176
You can use the `fluxcd.io/ignore: "true"` annotation, when all other charts have been installed set it to `false`.

[2020-01-07 09:00] #176 closed, assigned to nobody

[2020-01-07 10:12] stefanprodan commented on #175
Based on `cannot get resource deployments in API group extensions` I would say you are using an old chart, we've moved to apps/v1 for some months now. Try deleting the local repo and add it with `helm repo add fluxcd https://charts.fluxcd.io`

[2020-01-07 11:56] asychev commented on #164
Same for me

[2020-01-07 14:57] stefanprodan commented on #142
**Proposal: decoupling chart/git repositories from HelmReleases**

Features:
* a release references a chart source (can be helm chart repo or git repo)
* a chart source references a secret (helm chart repo basic auth, git https basic auth or git ssh key)
* a release can reference a chart source defined in a different namespace so that cluster admins can manage the sources in a restricted namespace

[2020-01-07 15:51] richardcase opened #179 "e2e test failure on git clone"
**Describe the bug**
When running the e2e tests i am getting the following error:

[code]

This is when running the Git mituation causes upgrade test in `15_upgrade.bats`

**To Reproduce**
Run the following:
[code]

**Expected behavior**
The tests to pass (i.e. git clone to succeed in this case)

[2020-01-07 16:08] demisx commented on #164
I am getting a similar error with `v0.4.0` for these charts:

[code]

Indeed, there is no `flagger-index.yaml` in the pod:

[code]

[2020-01-07 16:30] demisx commented on #175
@stefanprodan Thank you very much for your prompt response. This is what I've tried again with a brand new cluster:

1. Remove existing fluxcd repo and re-add a new one (though, they appear to be the same)
[code]

2. Bring up a brand new Kops 1.15 cluster in AWS
3. Install flux and helm operator with:
[code]

4. I see the following issues:
4.1 Flux periodically reports this error in the log (possi

[2020-01-07 19:33] demisx commented on #36
Same here. Seeing a bunch of these with `prometheus-operator` in `helm-operator-0.4.0/1.0.0-rc5` chart:

[code]

[2020-01-07 19:42] demisx commented on #175
Sorry, I found the problem. I had a typo in the helm release manifest file for the helm-operator where the chart name was `chart.name: flux` instead of `chart.name: helm-operator`, which caused an older flux `0.4.0` being deployed alongside with the new `1.0.0`.  Thank you @stefanprodan @hiddeco. You are great and spot on as always!

[2020-01-07 19:42] #175 closed, assigned to nobody

[2020-01-07 21:32] #179 closed, assigned to nobody

[2020-01-07 22:27] vikas027 commented on #176
Thanks @stefanprodan, can you also please let me know where I can find all these options in the documentation? I had tried before creating an issue, but could not find it. Cheers!

[2020-01-08 00:32] #164 closed, assigned to nobody

[2020-01-08 09:12] stefanprodan commented on #176
The ignore option is explained here https://docs.fluxcd.io/en/1.17.0/faq.html#can-i-temporarily-make-flux-ignore-a-manifest

[2020-01-08 09:23] hiddeco commented on #142
@stefanprodan can you extend the examples to show how one would provide custom certificates for the `ChartRepository` kind?

[2020-01-08 09:45] #168 closed, assigned to nobody

[2020-01-08 10:24] #174 closed, assigned to nobody

[2020-01-08 10:34] hiddeco commented on #153
The Helm operator handles jobs like Helm handles them. I advice you to read the following for [Helm v3](https://helm.sh/docs/topics/charts_hooks/), and [this page for Helm v2](https://v2.helm.sh/docs/charts_hooks/).

[2020-01-08 10:48] erdebee opened #184 "SOPS Support"
**Describe the feature**
Allow helm-operator to decrypt SOPS encrypted files upon loading in a chart.

When a chart contains secrets, it is currently not possible to use these without changing the setup of your project, so that these are part of the step where flux comes in. We have to move SOPS files out of the chart directory and into the releases folder, which forces a certain way of working th

[2020-01-08 10:50] stefanprodan commented on #142
@hiddeco I've added the cert fields to the secret as file paths.

[2020-01-08 11:08] hiddeco commented on #184
I am personally opposed to this idea as you should not ship encrypted files with your Helm charts, it's a packaging solution and this way your packages are no longer usable without additional non-native Helm requirements.

Note that we already [support ways of referring to secret or config map values](https://docs.fluxcd.io/projects/helm-operator/en/latest/references/helmrelease-custom-resource.ht

[2020-01-08 11:11] stefanprodan commented on #184
I think storing secrets in charts is as bad as storing secrets in container images. @rbrondgeest can you give some examples of what kind of secrets you embed in a chart and what's the reasoning for having them there?

[2020-01-08 11:29] erdebee commented on #184
Im not sure if this could be considered "The secrets being part of the chart"

We ran into this limitation when we started using flux, previously we used to deploy helm charts using the following command:
`helm install -f values.yaml -f values.prod.yaml -f secrets.yaml -f secrets.prod.yaml api-example-chart`

Where we have the following structure inside our API project:

/api/src/* ...  (for the s

[2020-01-08 11:44] jantoebes commented on #184
@hiddeco (some background information)

One side effect of using the `secretKeyRef` in combination with Sops is that the whole config file will be encrypted into a single line.

[code]
This will introduce for instance unnessecary git merge conflicts, while ideally, you would like to have something as

[code]

We hoped by using `chartFileRef` we could work around this limitation of `secretKeyRef` a

[2020-01-08 11:46] #88 closed, assigned to nobody

[2020-01-08 11:48] hiddeco commented on #184
Wouldn't this issue also be solved by either #37 or #49?

[2020-01-08 11:49] jantoebes commented on #184
Ah nice! I was not aware of these issues. Thanks!

[2020-01-08 12:14] jantoebes commented on #37
@chainlink I really think this would make sense 👍 . See the comments in #184 of the limitations we encounter at the moment with `secretRefFile`

[2020-01-08 13:16] stefanprodan commented on #165
Works ok as it is with bash on macOS, what shell are you using?

[2020-01-08 15:53] domg123 opened #186 "helm3 with private repository 401 error - not finding the mounted repository.yml"
**Describe the bug**
I'm using helm3, I have a helmRelease for a chart which is in an jfrog artifactory repository.  I've set up the access via the mounted repository.yml.  The chart release fails with a '"failed to upgrade chart for release' and a 401, indicating it can't authenticate.

If I jump into the operator container, and use helm3 I can't see the repos (with helm3 repo list), but I can wi

[2020-01-08 15:59] stefanprodan commented on #186
I think this is fixed by https://github.com/fluxcd/helm-operator/pull/171 please give it a try, the image is `fluxcd/helm-operator-prerelease:master-48f6b7d8`

[2020-01-08 16:45] domg123 commented on #186
Thanks - I gave it a try, but no luck, I get the same

"ts=2020-01-08T16:43:11.013643508Z caller=release.go:142 component=release release=nginx-ingress-dphelm targetNamespace=default resource=default:helmrelease/nginx-ingress-dphelm helmVersion=v3 error="chart unavailable: looks like \"https://dpbuild.jfrog.io/dpbuild/helm\" is not a valid chart repository or cannot be reached: failed to fetch htt

[2020-01-08 17:07] hiddeco commented on #186
I think the fix you are waiting for is #173 (but unfinished). What you can do while this PR is finalized is use the `additionalArgs` value offered by the chart to set the following flag: `--helm-repository-import=v3:/var/fluxd/helm/repository/repositories.yaml`. This will import the repositories configured by the chart (for Helm v2) to Helm v3.

[2020-01-08 17:18] hiddeco commented on #184
Closing this in favour of linked issues above.

[2020-01-08 17:18] #184 closed, assigned to nobody

[2020-01-08 18:29] vikas027 commented on #176
Just a feedback - it would be good to have all options documented on a single page. It is a bit hard to find those as of now IMHO.

[2020-01-08 21:03] gaieges commented on #186
Running into the same issue with a helm v2 repo (may not be the same issue, but figured I'd report on the above solution).

Seems as though the short term approach of using the `additionalArgs` has an issue as well - it appears that there is no `additionalArgs` value to be set anymore (I can see in [previous commits](https://github.com/fluxcd/helm-operator/blob/c4c320acae8794a91a5c61df8f0256979d1a

[2020-01-08 21:16] domg123 commented on #186
@gaieges yes, I had the same issue with the additionalArgs workaround too - wasn't sure what I was missing, looks like it is gone.

[2020-01-08 22:06] gaieges commented on #186
I'm not sure if this matters, but I just noticed that trying a regular http request (with basic auth of the provided credentials) sends me to a 307 redirect (using Azure ACR) on the actual url provided in the `repositories.yaml` file

Happy to help test any new branches / pr's

[2020-01-08 22:11] hiddeco commented on #186
The above linked PR contains a fix to the chart that has been confirmed to be working for me w/re to imports. It would be appreciated if someone could test this PR with a repository requiring authentication _using the latest `1.0.0-rc6` release_.

[2020-01-08 22:21] gaieges commented on #186
Ah! That does seem to get past the issue described above:
[code]

However it seems as though it fails on the next step of pulling down one of those packages with the same credentials:

[code]

[2020-01-09 12:16] slenky commented on #8
@apenney @hiddeco  I still see the same behaviour on 1.0.0-rc6 :(

[2020-01-09 12:49] michaelgeorgeattard opened #191 "Bump chart version to publish changes"
Kindly bump chart version so we are able to consume app version `1.0.0-rc6`.

[code]

[2020-01-09 12:56] hiddeco commented on #191
Our chart releases follow their own schedule and are not necessarily released together with a new version of the operator, or on every change to the chart, but instead when we deem the chart is ready for a new release.

[You can read more about this release process here.](https://github.com/fluxcd/helm-operator/blob/master/internal_docs/releasing.md#helm-chart-release-process)

[2020-01-09 12:59] michaelgeorgeattard commented on #191
Understood, closing the issue request.

[2020-01-09 12:59] #191 closed, assigned to nobody

[2020-01-09 13:03] hiddeco commented on #8
@slenky I haven't worked yet on mentioned problem, the release from yesterday took care of other issues (see release notes). I will get to this one soon.

[2020-01-09 15:45] hiddeco commented on #186
@gaieges can you confirm the following image resolves all issues for you? ` hiddeco/helm-operator:helm-repository-auth-f70f5717`

I have tested it against a Helm repository that requires basic auth.

[2020-01-09 16:24] domg123 commented on #186
I can confirm that my use-case (original issue) is fixed in master - many thanks!

[2020-01-09 16:38] PaulFarver opened #194 "Charts with dependencies are upgraded every cycle"
**Describe the bug**
When deploying a helm chart with other charts as dependencies, the helm operator upgrades on every sync cycle.
if `--log-release-diffs` is enabled, the helm operator reports that the `chart has diverged`, and logs the diff. This diff is always, that the dependencies have been added.

I tried to debug a little myself, and it seems that the release object returned from: https://

[2020-01-09 18:24] stefansedich commented on #194
@PaulFarver I did some digging on this too yesterday and found the same thing with the Dependencies being added every sync loop. Have not had a chance to dig deeper but it looked like they were present on the new release and not the current release.

[2020-01-09 18:30] stefansedich commented on #194
Looking at the v2 status it works a little differently in that it gets the full release https://github.com/fluxcd/helm-operator/blob/master/pkg/helm/v2/status.go we may need to do somethin similar for v3.

**Update**: from what I can tell chart.Metadata.Dependencies is set howerver chart.Dependencies() returns nothing, I am currently playing around with the https://github.com/helm/helm/blob/9b4270

[2020-01-09 18:44] gaieges commented on #186
That seems to get me passed the next issue as well!  Thank you!

I have some other configuration issues I need to address but will do that on my end.

[2020-01-09 21:35] #186 closed, assigned to nobody

[2020-01-10 10:19] joachimmathes opened #195 "Helm3 operator seems to ignore helm chart hooks"
**Description**
Helm3 operator seems to ignore helm chart hooks.

**The setup**
- minikube `1.3.1` with k8s `1.15.2`
- flux version `1.17.1`
- Helm operator version `1.0.0-rc6` with configuration
[code]
- A helm chart with deployment, service, ingress
- A job hook with
[code]
**Expected behavior**
I expect the Helm operator to deploy the `Job` hook.

In my case the job should start a `Pod`, which

[2020-01-10 13:58] #194 closed, assigned to nobody

[2020-01-10 14:57] hiddeco commented on #136
Taken care of in #192

[2020-01-10 14:57] #136 closed, assigned to nobody

[2020-01-10 15:04] denysvitali commented on #136
Thanks 👍

[2020-01-10 15:28] anekdoti opened #199 "Authentication for private helm chart repository fails"
**Describe the bug**
Authentication to a private Helm repository defined in repositories.yaml with username and password fails and the corresponding HelmRelease is not released (other HelmReleases using public repositories are released/upgraded successfully).

The repositories.yaml is in the right place in the helm-operator container. Furthermore, adding the repo $REPO_URL with the same username a

[2020-01-10 15:35] hiddeco commented on #199
Duplicate of #186, fixed in `rc7`.

[2020-01-10 15:35] #199 closed, assigned to nobody

[2020-01-10 16:27] slenky commented on #8
@hiddeco confirming that latest 1.0.0-rc7 had fixed an issue :) Thank you and good job!

[2020-01-10 16:52] apenney commented on #8
Also confirming that we're looking good, really appreciate the quick fixes!  :)

[2020-01-10 20:10] smark88 opened #201 "Helm value.yaml file polling from externalSourceRef URL"
Provided the following config:
[code]
Allow the ability to poll the `externalSourceRef.url` for changes to be pushed to helm operator deployment.

[2020-01-10 20:25] hiddeco commented on #201
This should already happen although not due to any polling but due to the fact that releases are scheduled on an interval for reconciliation.

So if the contents of the `externalSourceRef.url` change, they should be picked up on the next reconciliation run due to the fact that the dry-run result of the release differs from the current release due to the change of values.

[2020-01-10 21:02] smark88 commented on #201
Ahhh I may have not waited long enough, let me revisit.

[2020-01-10 21:30] #201 closed, assigned to nobody

[2020-01-10 21:42] runningman84 commented on #8
The latest rc seems just install prometheus operator during the first run and leaves it untouched afterwards. But I still get this error message:
[code]
Can we just ignore this message?

[2020-01-10 21:56] runningman84 commented on #8
I have also found this problem in flux-helm-operator:
[code]
I do not understand this error my config looks just fine and just to work before using helm2:
[code]
I do not see the use of the keyword enabled anywhere in this helm release.

[2020-01-10 22:11] gsf commented on #8
@runningman84 That "enabled" field in PodDisruptionBudget was a Helm V3 incompatibility in prometheus-blackbox-exporter prior to version 2.0.0. You may need to set the content of PodDisruptionBudget as described in the README: https://github.com/helm/charts/tree/master/stable/prometheus-blackbox-exporter#200

[2020-01-12 21:38] sfxworks opened #202 "Log before performing dry-run"
**Describe the bug**
I deployed sealed-secrets as an example with the helm3 operator.

[code]

I see this info notice in my logs over and over. It appears that it is doing more than just checking for an upgrade to the chart. It appears to be trying to update even though the latest version of this chart at the time of writing is 1.16.1.

**To Reproduce**
Steps to reproduce the behaviour:
0. What's

[2020-01-13 04:55] rowecharles commented on #8
I can also confirm that `1.0.0-rc7` has fixed my issues with spurious upgrades.  Thanks for the great work!

@runningman84 the `crd-install` hooks are no longer supported in helm 3.  I think it's safe to ignore the errors.

[2020-01-13 09:03] hiddeco commented on #195
Based on the comment here https://github.com/fluxcd/helm-operator/issues/8#issuecomment-573216729, and the fact that we [do not disable hooks](https://github.com/fluxcd/helm-operator/blob/master/pkg/helm/options.go#L23) (this is never set). I would expect them to be executed.

Can you provide me a chart in `stable` the issue exists for?

[2020-01-13 09:10] hiddeco commented on #202
It runs a dry-run to confirm the release still equals to what is defined in the `HelmRelease`, so that it can revert any changes made outside of the `HelmRelease`. The output from Helm is a bit confusing as it first logs that it is running an upgrade, and later tells you that the upgrade was a dry-run.

To make this a bit easier to grasp, we should add an additional log entry to tell what (and why

[2020-01-13 09:35] hiddeco commented on #167
This is due to Helm [using `scheme.Scheme` to get versioned objects](https://github.com/helm/helm/blob/v3.0.2/pkg/kube/converter.go#L40), if it can get a versioned object, [it will attempt a 3-way-merge patch](https://github.com/helm/helm/blob/v3.0.2/pkg/kube/client.go#L352-L367).

Due to our versioned client injecting the `HelmRelease` resource into `runtime.Scheme`, Helm decides that it should e

[2020-01-13 10:23] hiddeco commented on #153
Closing this as the question has been answered, for additional support around the handling of jobs I would advice you to [join our Slack](https://github.com/fluxcd/helm-operator#getting-help).

[2020-01-13 10:23] #153 closed, assigned to nobody

[2020-01-13 10:25] hiddeco commented on #102
This got lost in my notifications, `RC.7` includes Helm 3 support and does no longer require Tiller with `--helm-versions` set to `v3`.

[2020-01-13 10:25] #102 closed, assigned to nobody

[2020-01-13 10:27] hiddeco commented on #57
They are both correct as we maintain support for the older ones until the next major version Flux. This has however been taken care of in https://github.com/fluxcd/flux/pull/2670.

[2020-01-13 10:27] #57 closed, assigned to nobody

[2020-01-13 10:28] #3 closed, assigned to nobody

[2020-01-13 13:02] Karnich commented on #165
im getting this with zsh. Everything works fine in Bash tho

[2020-01-13 17:18] joachimmathes commented on #195
Ok, did some research. Good news: Everything is fine with the helm-operator.

The problem was a deadlock in our setup. The hook prepares a resource, which is needed by a pod, that the hook is waiting for becoming ready. In our case this could be fixed by replacing `post-install` with `pre-install`.

Nevertheless, we are pretty sure that things worked with helm 2 and tiller. We guess that the `--wa

[2020-01-13 17:18] #195 closed, assigned to nobody

[2020-01-13 18:04] stefansedich commented on #167
Thanks @hiddeco all makes sense, do you have any ideas for workaround on our end for the time being? I currently am unable to upgrade a few services due to this and would be fine with running a custom build/hack just to keep pushing forward.

[2020-01-13 18:10] stefansedich commented on #165
@Karnich ZSH will perform globbing when it encournters the [ and you can either escape with a \ or quote with ' like you are doing.

[2020-01-13 19:01] chancez opened #204 "Cannot unset default values"
**Describe the bug**

In a chart, you can define default values for templates in the chart's values.yaml file. Sometimes it is desired to override them, but other times, you simply don't want the default to be used at all. To support this, if you set the value to `null` (or `~` for yaml) then helm will unset the default. https://github.com/helm/helm/pull/2648 is where that was implemented.

Howeve

[2020-01-13 19:55] chancez commented on #204
Okay, so I managed to actually get this to work somehow. I think a fresh install of the HelmRelease was what made it work. So it may be that this is only broken on upgrades, but not install. I'm still trying to debug this.

[2020-01-13 20:50] hiddeco commented on #165
I think, given the fact that there are probably quite a lot of ZSH users among us, and the fact that with single quoting it also works fine in `bash`, it would not hurt to change the example.

[2020-01-13 20:56] stefansedich commented on #204
@chancez looks like the same happens with Helm3, had a quick poke over lunch and found something interesting, lets say you apply:

[code]

Then `kubectl get hr -o yaml loki`:

[code]

Then apply the following:

[code]

And check the HelmRelease again, still no values, so looks to be something with the CRD, if you add the null value on first apply it appears guessing something to do with how the me

[2020-01-13 20:58] jclynny commented on #165
@stefanprodan I am using ZSH, but I know a lot of Engineers that use ZSH on their workstations.  It does work in bash, however I don't think it would be a bad idea to change or at least mention it in the example as @hiddeco mentioned.

[2020-01-13 21:06] stefansedich commented on #204
Ok had to read the doco on merging during apply again but I think it is the normal behaviour, reading the docs on clearing fields:

https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-apply-calculates-differences-and-merges-changes

[code]

[2020-01-13 21:47] chancez commented on #204
Were you able to check the statefulset? I was finding setting the `livenessProbe: null` is working fine, but the changing of the statefulset's livenessProbe isn't. Also the logs I provide show that the helm-operator is even seeing the `livenessProbe: null`, but it's not propegating to the actual statefulset after helm upgrade from the operator.

[2020-01-13 21:48] chancez commented on #204
Or are you suggesting the `livenessProbe: null` isn't making it into the HelmRelease because apply is omitting it?

[2020-01-13 21:49] stefansedich commented on #204
Correct @chancez I was seeing the latter, never even made it in there during an update and I suspect it is due to the merge on apply but hopefully someone with some more knowledge here can clear things up.

[2020-01-13 22:07] chancez commented on #204
Ahhh. I'll test this out. That could definitely be it.

[2020-01-13 22:12] hiddeco commented on #195
@joachimmathes no worries, glad you figured it out on your end, _and_ that it wasn't due to the operator.

Do not hesitate to report issues like this again, as long as they are well composed it is fairly easy to triage them without being too time consuming, and it's better to be safe than sorry. :tulip:

[2020-01-13 22:18] fredgate commented on #12
Idem. I want to use fluxcd and helm operator, but I want that my config repo be updated when a new chart version is available in a helm repository (I do not want to poll a docker registry).

[2020-01-13 22:24] hiddeco commented on #12
We are still actively tracking interest in this, and are aware of the growing interest, but are kept back by the fact that it does not belong in the Flux code base while the operator itself is not the best candidate either.

There are plans to move the image update feature from Flux to a dedicated service, once this has happened the path for this enhancement should be more clear.

[2020-01-13 22:39] #202 closed, assigned to nobody

[2020-01-14 04:28] stefansedich commented on #204
@chancez from more digging it appears as you can either use `kubectl replace` which will not use this merging behavior or change the chart in question to contain an `livenessProbe.enabled` field so things do not rely on the nulling out behavior.

[2020-01-14 09:26] #165 closed, assigned to nobody

[2020-01-14 10:54] anekdoti opened #206 "Helm operator can not find chart version"
**Describe the bug**
The helm-operator can not find a chart version referended in a HelmRelease custom resource wit the following log entry:
[code]

On the other hand, when executing a shell in the helm-operator container, one can verify that the correct version is enlisted in the cache yaml for ${REPO_ALIAS}. A helm repo update does not change anything.

Are there any restrictive rules for the ve

[2020-01-14 10:56] hiddeco commented on #206
Does a manual chart installation for that exact version work using `helm3` in the running container?

[2020-01-14 11:06] hiddeco commented on #206
In addition, can you provide the `.spec.chart` of the `HelmRelease`?

[2020-01-14 11:59] anekdoti commented on #206
Thank you for your interest. It turns out that `helm3 repo update` works, but that also a manual install with `helm3` fails with the error
[code]

The `.spec.chart` is
[code]
(sorry for all the redactions)

I have username, password and certificate provided in the repositories.yaml. This shouldn't be the issue because already `helm3 repo update` would fail if authentification is not working.

[2020-01-14 12:16] anekdoti commented on #206
Hello @hiddeco - I'm sorry for have wasted your time. In the end, I just had a small typo.

[2020-01-14 12:16] #206 closed, assigned to nobody

[2020-01-14 12:57] fredgate commented on #12
I agree that it is not the responsabilty of helm operator to update git repository as its role is just to deploy charts referenced by release defined in CRD in cluster.
It is more the job of flux to auto update the git repository. But effectively it must be enhanced to update different information (version of images or of charts) in different scenarios (new artifact in the docker registry, or in t

[2020-01-14 21:48] smark88 commented on #8
I have also ran into this and it's rather annoying about every 5 minutes its does a revision.

[code]
[code]

[2020-01-14 22:01] hiddeco commented on #8
@smark88 you are running an old version, `helm-v3-dev` has been merged into `master`, and the latest version with Helm 3 support (and bug fixes) is `1.0.0-rc7`.

[2020-01-14 22:05] REBELinBLUE commented on #8
Not sure if there is anything to do with 1.0.0-rc7 but I was running from a build of helm-v3-dev for a few weeks, I have changed to 1.0.0-rc7 and now most of the helm releases have a status of "failed to compose values for chart release" even though they are installed fine

For example

[code]

[code]

[2020-01-14 22:38] hiddeco commented on #167
@stefansedich the following image should work, it has been built based on the work in the [`helm-patched` branch](https://github.com/fluxcd/helm-operator/tree/helm-patched): `hiddeco/helm-operator:v3-patched-scheme`

[2020-01-14 23:02] smark88 commented on #8
`helm-operator:1.0.0-rc5` is the container I have deployed I will try upgrading to `1.0.0-rc7` and see if that resolves it.

[2020-01-15 06:13] runningman84 commented on #8
I have also two releases with status failed to compose values also they are installed using the rc7 version.

[2020-01-15 06:57] hiddeco commented on #8
@runningman84 @REBELinBLUE can you both share a copy of one of `HelmRelease`s causing trouble?

[2020-01-15 08:43] runningman84 commented on #8
I can share one of them which is using a public chart:
[code]
this is the kubectl output:
[code]

[2020-01-15 09:03] hiddeco commented on #162
The logged message is an `info` message, depending on your configuration we automatically run a dependency update for charts from Git sources, if there are no dependencies Helm will log this message. This is however not an error, and the release should still be installed or upgraded.

Disabling this behaviour is possible by either setting `--update-chart-deps` to `false`, or by setting `spec.chart

[2020-01-15 09:03] #162 closed, assigned to nobody

[2020-01-15 09:09] hiddeco commented on #8
@runningman84 this works without any issues for me, can you share the `Status` output from `kubectl describe hr`?

[2020-01-15 09:15] hiddeco commented on #143
@adurai81 I hope you have somehow got an answer to your question by now, due to Helm 3 bug reports and the holiday period this got lost in my notifications.

If not, please get in touch with the folks in `#helm-users` on the [Kubernetes Slack](https://slack.k8s.io) and I am sure someone will help you out.

[2020-01-15 09:15] #143 closed, assigned to nobody

[2020-01-15 09:22] hiddeco commented on #204
@chancez has this been resolved with Stefan his answers?

[2020-01-15 09:25] hiddeco commented on #108
@derrickburns does this issue still exist for one of the latest `1.0.0-rcX` releases? Much of the `chartsync` spaghetti code has been refactored so I can imagine this got (indirectly) resolved.

[2020-01-15 10:01] runningman84 commented on #8
this is the output
[code]

[2020-01-15 11:38] stefanprodan commented on #167
Fixing this bug requires upstream changes, ref: https://github.com/helm/helm/pull/7401

[2020-01-15 13:04] dzirg44 opened #208 "nested helm variables"
kubernetes flux

**Description**

I faced with some problems with nested variables.
i have a release
[code]
but flux cannot update nested images.
I read about `helm-operator-integration` but it works only if I run release with `--force` flag. In other case I receive a message that I don't have any changes in my repo. Maybe i didn't understand this article...

**Expected behavior**
Updated images.

[2020-01-15 14:34] hiddeco commented on #208
The problem is that your tag does not match the configured filter, I expect Flux' automation to work just fine if you change the image tag in the `.spec.values` to one that adheres to the filter (this is why `--force` _does_ work).

[2020-01-15 14:49] smark88 commented on #8
I redeployed last night and the `1.0.0-rc5 --> 1.0.0-rc7` has resolved my issue. Typically by this time in the morning I would have about 100+ revisions.

[code]

[2020-01-15 16:22] REBELinBLUE commented on #8
@hiddeco  https://github.com/REBELinBLUE/k8s-on-hypriot/blob/master/deployments/velero/velero/velero.yaml but most of the charts in the `deployments` folder are showing the status, the only ones which aren't are the ones I removed with `kubectl delete hr <name>` and then reapplied

[2020-01-15 17:12] derrickburns commented on #108
@hiddeco i have not observed problem recently.

Thx

[2020-01-15 17:18] chancez commented on #204
I haven't had a chance to verify the behaviors, but based on the discussion everything Stefan has said makes sense to me.

[2020-01-15 18:45] hiddeco commented on #108
@derrickburns awesome, thanks for confirming!

[2020-01-15 18:46] hiddeco commented on #8
@REBELinBLUE @runningman84 does one of you still have access to logs from around the time the status message was pushed for the release?

[2020-01-15 18:48] hiddeco commented on #204
Closing this then, feel free to re-open if it does not turn out to be true.

[2020-01-15 19:10] runningman84 commented on #8
I don't think so but I will check. Shouldn't helm operator try it again each run and the error should go away or come back again?

[2020-01-15 19:18] REBELinBLUE commented on #8
Sadly not I'm afraid, as it's just a test server I don't have the logs being stored and I've killed the pod to see if it fixes it.

All I get now in the logs is things like

[code]

[2020-01-15 19:32] hiddeco commented on #8
@runningman84 the message is only updated if an actual release happens because some mutation is made (either to the `HelmRelease`, the chart, or the Helm release itself). So to somewhat get an idea of what happened (and in what order) we would need logs.

[2020-01-15 19:33] REBELinBLUE commented on #8
But that is the point, they were fine, nothing has been changed but the status has for some reason changed to that? That said, I will update the values now so an update actually runs and see what happens.

[2020-01-15 19:37] REBELinBLUE commented on #8
Well, I made this change https://github.com/REBELinBLUE/k8s-on-hypriot/commit/eecdb4902cc9bbf8509e0c61083b4b32c2d4a905#diff-b5b0500f31d74e5d8f95df6d7237661f and when it was run the status changed to "Helm release sync succeeded" so I guess that is a fix

[2020-01-15 21:15] dzirg44 commented on #208
@hiddeco thank you for explanation, i will try tomorrow. If you don't mind , please don't close this question i want to write a conclusion.

[2020-01-16 11:27] dzirg44 commented on #208
yep, I made a mistake, i my case it has to be like
[code]
however  in case when i have
[code]
it didn't work. maybe because of whitespace , i don't know.

[2020-01-16 11:40] #8 closed, assigned to nobody

[2020-01-16 11:40] stefanprodan commented on #208
You could migrate to the new annotations:
[code]

[2020-01-16 11:43] hiddeco commented on #8
Closing this as most bugs have been fixed by now, in case you encounter a new one do not hesitate to open a dedicated issue.

On a last note I want to thank everyone who commented on this issue for their dedication and the quality of the reported issues, it made the bug fixing as fun as it can get. 🌷

[2020-01-16 16:12] dzirg44 commented on #208
@stefanprodan thank you a lot. It seems more straightforward.

[2020-01-16 16:13] #208 closed, assigned to nobody

[2020-01-16 17:51] derrickburns opened #211 "Git repo needed credentials now"
**Describe the bug**
Last night  I switched  from rc2 using helm v2 it to rc7 using helm v3 only.  The new helm operator reads helm charts stored in helm repos but complains that it cannot read helm charts stored in git repos.

Is this expected?

[2020-01-16 18:00] stefanprodan commented on #211
Are you asking if we intentionally broke the git repos auth? if so the answer is no, we have e2e tests covering charts stored in git and RC.7 passed all tests. To further debug this we need the helm-op logs, the instruction on how RC.7 was installed and an example of a HelmRelease. For Helm-op to be able to clone git repos the Flux SSH key must be passed during install time like this: https://gith

[2020-01-16 18:14] derrickburns commented on #211
@stefanprodan  thanks for the quick response! I will investigate more on my end before asking for more help. I just wanted to make sure there was no known issue.

[2020-01-16 18:53] derrickburns commented on #211
Thank you for the pointer.  I did not understand that a key of some sort is needed for read-only access by the helm operator.  This may be obvious to you and others, but it was not to me. :)

Everything is working now.  Thank you!

[2020-01-16 18:53] #211 closed, assigned to nobody

[2020-01-17 08:38] derrickburns commented on #108
@hiddeco  Please reopen.  It just froze again:

Here is the log:

[code]

it is now 8:38 GMT.

[2020-01-17 09:10] derrickburns commented on #108
Several deployments were in a CrashLoop so it seems that the timeout is not working.

I am using helm3.  I independently validated the yaml files with `kubeval`.

[2020-01-17 09:17] stefanprodan commented on #108
So when tidepool pods enter crash loop, helm gets stuck at  `dry run for tidepool-qa1`, have you set a different timeout or is the default one?

[2020-01-17 10:59] derrickburns commented on #108
<img width="525" alt="Screen Shot 2020-01-17 at 2 59 23 AM" src="https://user-images.githubusercontent.com/583930/72607399-6dd3ad80-38d5-11ea-8f9c-ccdbadd51a4b.png">

[2020-01-17 11:06] stefanprodan commented on #108
@derrickburns the timeout I'm talking about is in the HelmRelease object under `spec.Timeout`, have you change it there or it's the 300s default?

[2020-01-17 11:25] derrickburns opened #215 "Proper way to migrate from Helm Operator v2 only to Helm Operator v3 only"
This is not a bug report as much as it is a plea for help.

How does one convert from using Helm Operator with Helm v2 only support to
Helm Operator with Helm v3 only support (ignoring installation).

I tried :
1) scale down flux and helm operator  (helm v2 only) to zero
2) convert helm using `helm 2to3 convert ...`
3) delete flux namespace
4) install new flux and helm operator (helm v3 only)

And

[2020-01-17 11:26] derrickburns commented on #108
No sir

[2020-01-17 11:32] hiddeco commented on #215
I would expect the 4 steps you have documented to work as long as the converted releases are written to the `secret` storage. We actually want to make it possible to automagically migrate resources using `2to3` in one of the future releases.

[2020-01-17 11:36] derrickburns opened #216 "Deleting helmrelease can cause helm operator to freeze with no logs"
In an attempt to repair a conversion from helm v2 to helm v3 gone bad, I frequently deleted helmrelease objects.  This caused the helm operator to freeze.

[2020-01-17 12:00] hiddeco commented on #108
Ack, I am adding `context.Context` parameters to the Helm methods as we speak to prevent a deadlock due to Helm weirdness. When that is done I will look into the fact that dry-runs are processed serially which was also reported in #133.

[2020-01-17 12:06] hiddeco commented on #216
Given the removal of a `HelmRelease` makes a call to Helm it is very likely this is a duplicate of #108.

[2020-01-17 12:57] Helcaraxan opened #217 "Broken dependency reference"
**Describe the bug**

The version of the [github.com/fluxcd/flux](https://github.com/fluxcd/flux) dependency that is referenced by this project corresponds to a commit that no longer exists in the upstream, thus making it impossible to build for people not using the Go Module proxy.

**To Reproduce**

On Go 1.13.x force-disable the use of the module proxy by setting `go env -w GOPROXY=direct` (whi

[2020-01-17 13:06] sureshamk opened #218 "repeated upgrades with helm operator even though there is no change"
**Describe the bug**
I have 3 helm releases , out of one is upgrading every min even though the there is no change made

**Logs**

<img width="1184" alt="Screen Shot 2020-01-17 at 6 21 04 PM" src="https://user-images.githubusercontent.com/3139449/72613905-de6ede80-3956-11ea-88b0-b46da745a41d.png">

**Additional context**
Add any other context about the problem here, e.g
- Helm operator version:

[2020-01-17 14:08] hiddeco commented on #218
Can you please provide me with a copy of the logs related to this release, a (redacted) copy of the `HelmRelease`, and some information about the chart you are using, especially if you set any annotations and/or labels that differ every time a release (or dry-run) happens.

[2020-01-17 18:19] derrickburns commented on #215
One important detail: the converted secrets MUST be placed in the same namespace as the helmrelease.

[2020-01-17 22:14] hiddeco commented on #215
@derrickburns will keep that in mind while utilizing it, thanks.

---

@stefanprodan any ideas on what the most straight forward approach would be for users to tell the operator that they want to migrate a release from `v2` to `v3`?

[2020-01-18 04:34] derrickburns commented on #215
The namespace issue that i mentioned was fixed in a newer version of the plugin.

[2020-01-18 13:00] sureshamk commented on #218
@hiddeco I was suspected , might be dependencies causing the issue. I removed the **requirements.yaml** ,  no repeated upgrades for the release. When add the **requirements.yaml** i am able to reproduce the issue.  I am included the used requirements.yaml

[code]

[2020-01-18 19:53] cep21 opened #220 "Docs out of date with respect to deletion"
Docs at https://docs.fluxcd.io/projects/helm-operator/en/latest/faq.html

*I’ve deleted a HelmRelease file from Git. Why is the Helm release still running on my cluster?*

Point to https://github.com/fluxcd/flux/issues/738

Which claims fixed.

Docs should be updated to be correct.

[2020-01-19 21:10] runningman84 opened #222 "Reduce CPU load on low spec hardware"
**Describe the bug**
A clear and concise description of what the bug is. The helm operator constantly uses a lot of cpu cycles:
![image](https://user-images.githubusercontent.com/1699128/72688476-e7eb7880-3b07-11ea-9920-ccef293703e9.png)
My cluster does not have many helm releases:
[code]

**To Reproduce**
I have installed helm operator using these values:
[code]

**Expected behavior**
A clear and

[2020-01-20 09:35] #120 closed, assigned to nobody

[2020-01-20 10:34] #220 closed, assigned to nobody

[2020-01-20 17:13] HaveFun83 opened #224 "Helmrelease spec should contain --history-max for v3 releases"
**Describe the feature**
A clear and concise description of the feature.
Currently is it not possible to set the number of helmv3 revision, which defaults to 10.
The --history-max int flag provide this capability  in the helm upgrade command.
**What would the new user story look like?**
New spec historyMax in the helmrelease file should set the number of helm revisions
**Expected behavior**
A clea

[2020-01-20 18:33] #133 closed, assigned to nobody

[2020-01-20 18:35] hiddeco commented on #108
@derrickburns as soon as CI has made the image available, can you report back what `fluxcd/helm-operator-prerelease:master-82861733` does for you?

[2020-01-20 19:39] runningman84 opened #226 "helm/v3: support configuring log format"
**Describe the bug**

Normalize logging error level and timestamp format.

**To Reproduce**

just run helm operator

**Expected behavior**
All log lines should have a similar format, but the timestamp is different between the lines. Maybe because helm3 itself has another log format?

**Logs**
[code]

**Additional context**

- Helm operator version: 1.0.0rc7
- Kubernetes version: 1.17

[2020-01-20 22:52] hiddeco commented on #222
I fail to observe any notable CPU usage while the operator is idle in a `minikube` cluster.

Can you test what `fluxcd/helm-operator-prerelease:master-82861733` does for you? As some locking issues has been solved there.

[2020-01-21 00:40] derrickburns commented on #108
Done.

I see that multiple charts appear to be deployed in parallel. No more "head of line blocking" problem.

[2020-01-21 06:11] runningman84 commented on #222
The prerelease seems a bit better but also has cpu usage while idle. I guess it is doing something while idle. Would a debug output or strace help to get some insight?

[2020-01-21 09:04] hiddeco commented on #222
@runningman84 try setting the `--status-update-interval` to a much higher value, I think this will resolve the issue for you.

[2020-01-21 10:05] cbenjemaa opened #228 "helm: support (repository) getter plugins"
**Describe the feature**
After a discussion with @hiddeco on [slack](https://cloud-native.slack.com/archives/CLAJ40HV3/p1578404117005000) about an issue that encountered when creating `HelmRelease` with a chart that has dependency chart hosted in google bucket under `gs://...` like URL.
[code]
The chart in `git@github.com:company/servicename` contains `requirements.yaml` file that looks like:
[cod

[2020-01-21 10:13] stefanprodan commented on #228
If we're adding support for google buckets we should also cover AWS S3 that's way more popular than GS, see https://github.com/hypnoglow/helm-s3

[2020-01-21 10:38] hiddeco commented on #228
I think by [enriching this part of our `helm/v3`](https://github.com/fluxcd/helm-operator/blob/master/pkg/helm/v3/repository.go#L14) package by [adding something like this from Helm v3](https://github.com/helm/helm/blob/9b42702a4bced339ff424a78ad68dd6be6e1a80a/pkg/getter/plugingetter.go#L33), and mounting both binaries (AWS/S3) at the expected location (`$XDG_DATA_HOME/plugins`), it would work wit

[2020-01-21 12:08] runningman84 commented on #222
is it a bug that the status-update-interval is null in the values.yaml of the helm chart?

[2020-01-21 12:12] stefanprodan commented on #222
No it's not a bug, all flags defaults are set in code https://github.com/fluxcd/helm-operator/blob/master/cmd/helm-operator/main.go#L117

[2020-01-21 12:43] HaveFun83 commented on #224
Additional info:
The default limit from `--history-max`  are 10 revisions.

[2020-01-21 15:00] hiddeco commented on #108
@derrickburns I have now tested various mentioned errors that caused the freeze to happen with the `master-82861733` image but failed to replicate the issue.

I only want to add the [solution mentioned here](https://github.com/fluxcd/helm-operator/issues/108#issuecomment-575598902) as a last resort as it will not  really solve the issue but only hide it below the surface, given the fact that we ca

[2020-01-21 15:01] hiddeco commented on #216
Let's continue to track this in #108.

[2020-01-21 15:01] #216 closed, assigned to nobody

[2020-01-21 15:50] hiddeco commented on #224
This default is also [set internally (and honored by Helm)](https://github.com/fluxcd/helm-operator/blob/ddd8ed72af1e4086676ab1f6442a35d625086b50/pkg/release/release.go#L22) but not exposed (or made configurable) in the `HelmRelease`.

[code]

It should be fairly straight forward to make this configurable, and a contribution for this is welcome.

[2020-01-21 16:05] #217 closed, assigned to nobody

[2020-01-21 17:11] jwietelmann opened #231 "Helm Operator's own Helm chart should use the new directory for CRDs"
Re: https://helm.sh/docs/topics/chart_best_practices/custom_resource_definitions/

**Describe the feature**

Starting with Helm 3, a chart can contain a `crds` directory to ensure prerequisite CRDs are installed before the release. Helm Operator's chart, however, still requires you to manually install its CRDs separately.

**What would the new user story look like?**

0. User is on Helm v3
1. User

[2020-01-21 17:12] stefanprodan commented on #231
We are going to use Helm v3 to apply the CRD when Helm can also update it.

[2020-01-21 17:31] jwietelmann commented on #231
@stefanprodan One of the things I don't like about the current way is that I'm wary of installing CRDs from `master` as instructed when for one reason or another (k8 version, helm version, etc.) I might be using an older chart version that isn't compatible. Not sure about helm-operator specifically, but I've definitely been bit by this a few times with other charts.

My ideal middle ground would b

[2020-01-21 17:52] stefanprodan commented on #231
The CRD in master is backwards compatible with Helm Operator 1.x.x
If we are going to make a breaking change, we will bump the API version and provide another URL. That being said, I agree that we should be using the git tags and update the docs every time we make a new release to include the release number in the URL.

[2020-01-21 19:01] jwietelmann commented on #231
I won't keep arguing if the answer ends up being no, but I'd like to make one final attempt to explain why I think this is a good idea:

* The README already has instructions to install CRDs, which would be exactly the same instructions required to upgrade CRDs.
* Helm 3 will skip installing CRDs from the `crds` directory if they already exist.
* Using the `crds` directory would have no downsides

[2020-01-21 19:35] runningman84 commented on #222
I have changed the --status-update-interval to 15m. The cpu load is now very low:

[code]

I wonder if a lower default value makes sense here. Before the change helm-operator used about 1 cpu core.

[2020-01-21 19:38] runningman84 opened #233 "Proposal: Run helm-operator as unprivileged user"
**Describe the feature**
helm-operator should not run as root

**What would the new user story look like?**
I might be able to run flux and helm-operator in a restricted environment which forbids any root containers.

**Expected behavior**
helm-operator should run as a normal user

flux suffers from the same problem https://github.com/fluxcd/flux/issues/1327

[2020-01-21 20:04] stefanprodan commented on #231
If you apply the CRDs with kubectl but the CRDs are also in `crds` wouldn't helm install fail?

[2020-01-21 20:06] stefanprodan commented on #222
What CPU core is that? On GKE and EKS I see usage around 0.2 cores.

[2020-01-21 20:20] stefansedich commented on #233
@runningman84 I had a go at tackling this a while ago now but it fell to the side through other priorities.

The main issue I had was the way we mount secrets for the ssh/gpg keys, my solution at the time was to mount them to an interim location mapped as 0440 and then copy them elsewhere with an init container where we could chmod them to 0400 so that the key would work.

The main downside with t

[2020-01-21 20:21] runningman84 commented on #222
It is an Intel N5000 CPU which has these speed test results:
[code]

[2020-01-21 20:56] #226 closed, assigned to nobody

[2020-01-21 22:28] jwietelmann commented on #231
No, the Helm 3 docs say:

Additionally if you `kubectl apply ...` the CRDs twice, this is all that happens:

[code]

[2020-01-22 02:46] samer-shami opened #236 "Continual upgrades then rollbacks of failing containers"
**Describe the bug**
When using flux + helm v3 operator, the processing gets stuck in a continual loop of upgrades and rollbacks if the pods within the helm chart have issues. One container in the pod can experience continual crash loops - and flux will eventually rollback. However, next time it re-syncs it will deploy the same image again. This continues ad-infinitum.

From what I can see, the is

[2020-01-22 07:24] derrickburns opened #237 "helm operator fails to progress"
@hiddeco

My helmrelease fails because certain resources (service accounts) are missing.  I add the service accounts manually.  However, the helm operator fails to progress.

It seems that the status should not be `pending install` when the Reason is `HelmInstallFailed`.

[code]

**Additional context**
Add any other context about the problem here, e.g
- Helm operator version:  helm-operator-prerel

[2020-01-22 07:27] derrickburns commented on #108
Thx. See new issue #237

[2020-01-22 08:35] hiddeco commented on #237
The release status is set by a polling mechanism and is only there for observability, and not to make any decisions around releasing. The `pending-install` in this case is the last recorded status before the release was removed by the initial installation failure (`release tidepool-loadtest failed, and has been uninstalled due to atomic being set`).

From the status I can see that is has attempted

[2020-01-22 09:36] derrickburns commented on #237
I think that I also had an issue with not having enough CPU capacity.  The cluster-autoscaler could not allocate a node. Once I did that, I did see progress.

Thanks.

[2020-01-22 09:36] #237 closed, assigned to nobody

[2020-01-22 09:54] stefanprodan opened #238 "Make pkg/install a sub-module and allow setting the Helm versions"
Right now using the `install` package as a library in other projects like eksctl means adding Helm Operator as a dependency and that pulls Kubernetes packages, Docker, Helm etc. It would be great if `install` would be a separate go module so that it can be used without having to pull all Helm Operator dependencies. We should also allow setting the Helm versions in the library so that a consumer ca

[2020-01-22 17:09] hiddeco commented on #218
@sureshamk I assume this chart is fetched from a Git source and not a Helm repository?

[2020-01-23 09:47] #224 closed, assigned to nobody

[2020-01-23 10:40] sa-spag commented on #218
I am having a similar issue and the chart is indeed fetched from a Git repository.

[2020-01-23 17:28] mcfearsome commented on #215
Very interested in this, I have about 60 clusters to migrate at some point without disturbing the cluster.

[2020-01-23 20:33] derrickburns commented on #215
[code]

@mcfearsome I had success with this script after installing helm3 and the `2to3` plugin:

[code]

[2020-01-23 21:11] mcfearsome commented on #215
Thank you @derrickburns, I'll probably be starting to experiment in the next few days.

[2020-01-24 06:20] derrickburns opened #240 "helm/v3: enrich logger with release metadata"
[code]

It would be helpful to identify the field that is causing this issue.

[2020-01-24 07:52] derrickburns opened #241 "Retry upgrade after rollback without change to resource"
@hiddeco

I think that the guard on whether to retry a release after a rollback is too restrictive:

https://github.com/fluxcd/helm-operator/blob/83c8f80bcde6ab5a38553349c5d75a995be6ee1c/pkg/release/release.go#L326

For example, suppose an install falls because of a timeout or because a dependencies are not satisfied such as a ServiceAccount being missing. None of these will appear as changes in v

[2020-01-24 08:49] hiddeco commented on #240
Given the format of the error I do not think the origin is the operator but Helm itself.

[2020-01-24 09:15] stefanprodan commented on #108
@derrickburns can you confirm that your issue is related to https://github.com/helm/helm/issues/7447

[2020-01-24 09:31] hiddeco commented on #241
Transient errors were never taken into account while developing the rollback feature, this is thus not a bug but an enhancement request, and the limitation is actually also documented pretty well.

Detecting transient errors is going to be cumbersome, and the best way I can think of to still meet your wishes is a boolean option `.spec.rollback.retry` (default `false`), and a counter (`retryCount`)

[2020-01-24 10:52] HaveFun83 commented on #224
Wow you are awesome. Thanks a lot @stefansedich and @hiddeco . :beers:

[2020-01-24 12:23] #218 closed, assigned to nobody

[2020-01-24 13:39] emerson-h commented on #100
I am encountering this issue as well.

[2020-01-24 14:02] stefanprodan commented on #100
Please see the [docs](https://docs.fluxcd.io/projects/helm-operator/en/latest/references/helmrelease-custom-resource.html#secrets):
[code]

In your HelmRelease the indentation of `name `is wrong.

[2020-01-24 15:28] #236 closed, assigned to nobody

[2020-01-24 16:07] derrickburns commented on #241
Ah. Thanks for the clarification.

Your proposed design would be very helpful.

Please tell me. What do I as a cluster administrator do after the helm operator reaches the retry limit? Must I delete the helm release to get it to be reinstalled?

[2020-01-24 16:15] anekdoti opened #243 "Unexpected interaction between helm-operator and the flink-operator by Lyft"
**Describe the bug**

The flink-operator by Lyft [https://github.com/lyft/flinkk8soperator](url) controls Apache Flink job clusters by means of FlinkApplication custom resources.
When such a custom resource is directly applied to a Kubernetes cluster by synching a git repository with FluxCD (variant 1), it is processed correctly by the flink-operator: the Flink job cluster is deployed and goes to

[2020-01-24 16:16] derrickburns commented on #108
I can confirm that missing a required service account causes a failure to progress with an install that is not self-healing.

However in the cases that I witnessed the freeze was not caused by a missioning service account to my knowledge.

[2020-01-24 16:25] derrickburns commented on #241
The more I think about it, the less I see any utility in a retry count. There seem to be only two values of interest: zero and infinity.

[2020-01-24 18:19] hiddeco commented on #241
@derrickburns if you have to try till infinity an error is not transient but permanent. If this would happen on a Friday before the weekend en go unnoticed till Monday you would end up with hundreds of useless revisions.

A cluster administrator can simply exec into the pod and perform the release manually using one of the available Helm binaries.

[2020-01-24 18:42] derrickburns commented on #241
I guess what I am saying is that if I have an error that I notice and I address the error, then it would be desirable for the helm operator to recover without me taking other action.

I believe that this is the way the scheduler works. If there is a problem preventing scheduling, it will keep trying to schedule a pod. It does not give up after a fixed number of retries.

[2020-01-24 18:43] derrickburns commented on #241
What is the downside to hundreds of useless revisions?

[2020-01-24 22:22] hiddeco commented on #241
Most of the time this error would originate from a chart or values configuration mistake, Helm is a packaging solution so if this is not the case but it relies on external things to magically exist (CRDs excluded), your charts are not self contained.

Also, given the amount of 'spurious rollback' bug reports I have handled lately, I think most people expect the upgrade attempts to pause at a certa

[2020-01-24 22:29] derrickburns commented on #241
Yessir.

[2020-01-24 22:33] derrickburns commented on #241
@hiddeco Here is an example of a class of helm charts that are not self-contained:  any chart that uses service accounts that it does not create.

For example, the `eksctl` tool can create service accounts. These service accounts are not created by a helm chart.  I use this mechanism to create service accounts for use with IAM.

So while it would be nice for helm charts to be self-contained, this

[2020-01-24 22:35] derrickburns commented on #241
I think that a better way to look at the helm operator is as a controller that operates along the same principles as any other K8s controller, i.e. it has a desired state that it is trying to achieve and on each iteration of the loop it attempts to reach that state.

As for the side effects of failed installations, perhaps there is a better way of containing the size of the failures.

[2020-01-24 23:12] hiddeco commented on #241
The CRD was an example, I am aware there are other edge-cases where indeed Helm is not a 100% self-contained. My point was that the percentage of failures due to configuration mistakes outside of the `HelmRelease` resource or chart should be pretty slim, and the question is of the weight of this outweighs the technical complexity it would introduce, and the fact that it does not work with the inte

[2020-01-24 23:38] derrickburns commented on #241
All good. I see the constraints that you have to live with. :)

I think your proposal for allowing a special "0" value that means keep retrying would work for me.

Good job with the tool.

Get some rest!

[2020-01-24 23:41] derrickburns commented on #241
BTW, I have hit *all* of the situations that I have described.  What has caused me concern is how I deploy the helm operator in production without a way to recover from rollback.

You have given me a way to do so, i.e. by "exec into the pod and perform the release manually using one of the available Helm binaries.".  What would that command be (roughly)?  It may be obvious to you, but it is not ob

[2020-01-25 00:16] hiddeco commented on #241
On your local machine with access to the cluster it would be as simple as (assuming Helm v3)

[code]

Within the container the `<chart>` argument depends on the chart source but the command is identical (swap `helm` with `helm3` though). When a Helm repository source is used and it is listed in your `repositories.yaml` (without this you would need the full URL of the chart) you can simply use the

[2020-01-25 00:22] derrickburns commented on #241
Awesome!

Thx!

[2020-01-25 01:02] hiddeco commented on #222
The [Intel N5000 is a 1.1GHz CPU aimed at notebooks and NCUs](https://www.cpubenchmark.net/cpu.php?cpu=Intel+Pentium+Silver+N5000+%40+1.10GHz&id=3204) with just single threaded cores, when you [compare it to the slightly aged E5620](https://www.cpubenchmark.net/cpu.php?cpu=Intel+Xeon+E5620+%40+2.40GHz&id=1249) my Dell R710 has, you can already spot some differences (for example the 2 logical cores

[2020-01-25 06:22] runningman84 commented on #222
I would add some info if the docs would give some info about the meaning of the different interval settings. Right now it is unclear for me how the helm operator loop looks like and what consequences a change of the different interval have

[2020-01-25 12:46] billimek commented on #222
It's probably good to consider edge compute hardware as another scenario of a resource-constrained environment leveraging GitOps.

[2020-01-25 20:01] derrickburns commented on #240
@hiddeco It would be helpful to identify which helm release  originated the error message.

[2020-01-25 20:23] derrickburns commented on #215
@mcfearsome Note:  If you are using flux to update flux itself, i.e. you have the flux manifests checked into your configuration repo, you need to remove them before deploying your new flux!

[2020-01-27 10:05] sa-spag opened #248 "Repeated dry-run upgrade out of the expected periodic chart sync"
**Describe the bug**

I updated the Helm Operator to 1.0.0-rc8 and I'm noticing a misbehavior very similar to #218: a single HelmRelease is being dry-run upgraded every minute.

**To Reproduce**

As mentioned, it concerns only 1 HelmRelease in the cluster (out of 50+). I don't see what makes this specific HelmRelease so special as we have others with similar properties:
- its chart has no `require

[2020-01-27 10:11] autarchprinceps commented on #215
When doing this, we are often, but not in all charts getting "failed to upgrade chart for release [kube2iam]: rendered manifests contain a new resource that already exists. Unable to continue with update: existing resource conflict". The resources are of a lot of different kinds.
Does anybody know how to enforce an override? This happens only at the initial migration, as far as I can see.

[2020-01-27 10:13] hiddeco commented on #248
The only thing I can think of, given the configured interval you mention, is that there have been commits in the configured source path for this `HelmRelease`, as this would result in the release being scheduled early.

https://github.com/fluxcd/helm-operator/blob/master/pkg/chartsync/git.go#L222
https://github.com/fluxcd/helm-operator/blob/master/pkg/chartsync/git.go#L271-L280

[2020-01-27 10:15] sa-spag commented on #248
I forgot to mention that: the chart Git repository remains unchanged.

[2020-01-27 10:16] autarchprinceps opened #249 "Existing resource conflict"
**Describe the bug**

When migrating from the old flux helm chart with integrated operator to this, we are getting issues with some, but definitively not all charts, that it fails to initially upgrade the releases, because an update would create resources that already exist (in my point of view, that's the point of an update, but maybe I'm misunderstanding something). This message is displayed in

[2020-01-27 10:20] stefanprodan commented on #249
@autarchprinceps there is an option to force the upgrade:
[code]

Can you give that a try please?

[2020-01-27 10:21] hiddeco commented on #249
@stefanprodan this is not going to help without us passing the flag to Helm when performing the dry-run.

[2020-01-27 10:23] hiddeco commented on #248
@sa-spag in that case, please provide a `HelmRelease` (and Git chart repository) which reproduces the issue. Without this I am afraid I won't be able to track it down.

[2020-01-27 10:28] sa-spag commented on #248
I'll try to come up with a minimal setup that triggers the behavior. Thanks for your feedback.

Haven't found a consistent way to reproduce this yet, though I set the `git-poll-interval` to 30s and dry-run upgrades interval on the impacted HelmRelease followed. Gonna keep you updated.

Worth mentioning: I have other HelmReleases that make use of the same Git repository (via different `.spec.chart.

[2020-01-27 10:56] hiddeco commented on #249
@autarchprinceps can you please confirm setting the above mentioned flag in combination with `hiddeco/helm-operator:bug-dry-run-force-0cc46b00` solves this for you?

[2020-01-27 11:35] autarchprinceps commented on #249
When adding this the message remains for some, other releases get new errors. For example traefik gets the following error, despite the fact that the real helm values or chart version and therefore the result of the templates shouldn't have changed at all
```failed to upgrade chart for release : failed to replace object: Service "traefik-dashboard" is invalid: spec.clusterIP: Invalid value: "": fi

[2020-01-27 11:38] hiddeco commented on #249
@autarchprinceps what happens when you add `spec.resetValues` to the release?

Providing the flags that would make a `helm upgrade` command succeed would help resolving this by the way.

[2020-01-27 15:09] autarchprinceps commented on #249
@hiddeco I don't see any difference. The messages with resetValues look the same as with just forceUpgrade. I tried deploying it with both at the same time in a second, newly migrated cluster as well.

As for the helm commands that would resolve this, as of now this is truely resolvable only by deleting the helm release that was created prior to the helm operator and letting the helm operator inst

[2020-01-27 15:54] hiddeco commented on #249
Deleting the `HelmRelease` deletes the release (from Helm's storage), it is thus treated as a new installation without the migrated storage included. This is a sign for me that Helm can't cope with the migrated storage, as the error is also returned by Helm and not an error from us.

I find it highly unlikely that this does not happen for releases the operator has issues with as it literally perfo

[2020-01-27 16:04] hiddeco commented on #248
@sa-spag what is the configured `.spec.chart.path` for your release, and what is the (pseudo-)`tree` of this folder?

[2020-01-27 16:43] sa-spag commented on #248
Something like:
[code]

The HelmRelease being:
[code]

[2020-01-28 05:37] derrickburns commented on #249
fyi https://github.com/helm/helm/issues/6646

[2020-01-28 05:51] derrickburns commented on #249
and https://github.com/helm/helm/issues/6850

This is probably the bug fix: https://github.com/jason-liew/helm/commit/739d735b818da2d719dcdad0a72ea4f6076c50c7

[2020-01-28 09:47] runningman84 commented on #249
I have a similar problem but it shows "failed to compose values for chart release" in the message:
[code]
These are the corresponding logs:
[code]

[2020-01-28 15:24] autarchprinceps commented on #249
I have tried it to verify it, it is indeed not just an issue in the initial step. It does occur sometimes in later updates as well.

[2020-01-28 20:42] hiddeco commented on #249
@runningman84 you are likely running a version prior to `1.0.0-rc8`, as this was fixed in #209.

Given the issues mentioned by @derrickburns, I can now conclude (instead of speculate) this is not an issue with the operator but with Helm itself, and until this has been fixed in the upstream there is little we can do about it. I will thus be closing this to get it of our list, but feel free to discu

[2020-01-28 20:42] #249 closed, assigned to nobody

[2020-01-28 20:47] #43 closed, assigned to nobody

[2020-01-28 20:50] hiddeco commented on #17
I think this got resolved in #183 (cert path configuration is now possible, and the chart allows you to add additional mounts), and will be further improved with #142.

[2020-01-28 20:50] #17 closed, assigned to nobody

[2020-01-28 20:52] #248 closed, assigned to nobody

[2020-01-29 00:45] cep21 opened #254 "Cluster autoscaler reports "error validating \"\": error validating data: [apiVersion not set, kind not set]"" for cluster-autoscaler chart"
**Describe the bug**

I cannot install cluster-autoscaler(https://github.com/helm/charts/tree/master/stable/cluster-autoscaler) with helm-operator if I use serviceAccountAnnotations.  If I remove `serviceAccountAnnotations` from my yaml, the install works via helm-operator.  if I install manually with helm (and include serviceAccountAnnotations), it also works.

**To Reproduce**
These are my flux

[2020-01-29 00:47] mcharriere opened #255 "Add property to disable atomic installation"
In the early versions of the operator, the installation would not wait for the chart to be ready by default. That could be changed using the rollback property in the HelmRelease.

After [this change](https://github.com/fluxcd/helm-operator/commit/30156d40e1cb4de27f6c945de3af1a72e667e9ad), the default behavior is that, for the installation only, the operator will wait (atomic flag) until the chart

[2020-01-29 06:16] runningman84 commented on #255
Another improvement would be to have some priority list by namespace. For example kube-system,monitoring this would ensure that kube2iam and the Prometheus crd is there before any real application is installed

[2020-01-29 10:41] hiddeco commented on #254
The problem is your usage of `rbac.enabled` instead of `rbac.create` in combination with an [`if`-nesting problem in the mentioned chart](https://github.com/helm/charts/blob/master/stable/cluster-autoscaler/templates/serviceaccount.yaml#L9-L11).

Due to the `annotations` being outside of the `rbac.create` check, this causes a manifests to be generated with just the annotations key in it, and nothi

[2020-01-29 12:26] fliphess opened #257 "My resource is not deploying because the status is failed, how do I get out of this state?"
I currently have some issues rolling out an older, newer or in any way changed helm chart due to the status is failed. How do I get out of this loop?

Is there a mechanism in fluxctl or using a setting in the spec to get out of this status failed?
The issue in the chart has been resolved but how do I move forward from there?

I would love to see some documentation about this.

[2020-01-29 12:28] fliphess commented on #257
It happens in: https://github.com/fluxcd/helm-operator/blob/master/pkg/release/release.go#L329

[2020-01-29 12:39] hiddeco commented on #257
By upgrading it manually so that the state is healthy again, see: https://github.com/fluxcd/helm-operator/issues/241#issuecomment-578351380

[2020-01-29 12:55] fliphess commented on #257
Thanks, I will do that tonight during the service window, I was hoping for a no-downtime fix :)

[2020-01-29 12:55] #257 closed, assigned to nobody

[2020-01-29 13:25] #255 closed, assigned to nobody

[2020-01-29 14:05] hiddeco commented on #255
@mcharriere the following pre-release image includes the fix `fluxcd/helm-operator-prerelease:master-f31bd47f`.

[2020-01-29 14:13] mcharriere commented on #255
Thanks @hiddeco . I'll test it an let you know how it goes.

[2020-01-29 15:41] marshallford opened #259 "Update to Helm v3.0.3"
**Describe the feature**

FYI, [Helm v3.0.3](https://github.com/helm/helm/releases/tag/v3.0.3) was just released. No rush.

Thank you, the Flux ecosystem has been a pleasure to use!

[2020-01-29 17:57] cep21 commented on #254
Thank you for the help.  Are there recommended debugging steps to take if I, for some reason, didn't notice things like this?  Maybe a verbose flag?

Also, is it expected that the `helm` cli and the helm-operator will perform similarly?  I think the thing that mostly caught me up was that the `helm` cli worked but the helm-operator did not.

[2020-01-29 19:24] #259 closed, assigned to nobody

[2020-01-29 21:14] hiddeco commented on #254
No, the returned error is as verbose as it gets. I debugged this simply by using the `helm3` binary in the container to attempt an upgrade with a `values.yaml` file which matched the `.spec.values`, and then went looking for the templating error in the chart.

In 99.99% of the cases they perform similarly.

[2020-01-29 21:28] onedr0p commented on #147
As we know Go supports cross compiling out of the box. Once you get past the original setup for the Go build, pulling in the right architectures binaries for the dependencies, and image deployment there's really nothing else to maintain.

Here's my multi-arch Container image and source:

Docker image: https://hub.docker.com/r/onedr0p/helm-operator/tags
Sauce: https://gitlab.com/onedr0p/helm-operat

[2020-01-29 21:44] infinitydon opened #261 "Secrets Not Found When Created In Another Namespace"
**Describe the bug**

When referencing a secret from another namespace like the following:

[code]

I get the following errors from the helm operator POD:

[code]

Output of where the secret is located:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create a Helm release with valuesFrom.secretKeyRef that is not in the same namespace as where the release will be created (shown previ

[2020-01-30 10:27] #241 closed, assigned to nobody

[2020-01-30 17:50] cep21 commented on #254
Thank you so much for the help.  Better error logging is something I've run into a few times with the helm operator.

[2020-01-30 17:50] #254 closed, assigned to nobody

[2020-01-31 08:01] #261 closed, assigned to nobody

[2020-01-31 14:02] hiddeco commented on #228
@cbenjemaa can you confirm the following image to be working with a Helm plugin installed using `helm2 plugin install` or `helm3 plugin install` within the container? For `helm2` the `$HELM_HOME/plugins` folder needs to exist before the install command works, and the cURL detection of the GCS plugin does not work in Alpine (so you need to install `curl` first).

`hiddeco/helm-operator:enhancement-

[2020-02-03 09:06] n0daft opened #265 "nginx-ingress HelmRelease ignores values"
**Describe the bug**

I am operating on an Azure AKS cluster, where fluxcd with the helm-operator is working properly. I am trying to configure the nginx-ingress chart via the fluxcd CDR HelmRelease. Specifically to tell nginx-ingress to use an already created static public IP. To make this work one needs to set the `controller.service.loadBalancerIP` property as well as defining a special annotat

[2020-02-03 10:22] hiddeco commented on #265
The operator does not work with flattened values, try:

[code]

[2020-02-04 17:03] n0daft commented on #265
This is it. Thanks a lot. Would be nice if this could be specifically noted somewhere in the docs.
After all, one is not used to the fact that flattened values are not supported while working with yaml definitions.

For other users having the same problem, my final and working HelmRelease looked as follow. The important part is **not** flattening `values.controller.service.loadBalancerIP`.

[code]

[2020-02-04 17:03] #265 closed, assigned to nobody

[2020-02-05 10:52] hiddeco opened #266 "docs: provide examples of Helm (getter) plugins"
Support for Helm (getter) plugins has been worked on in #263 and will be merged soon. The mentioned PR does however not offer extensive documentation or good examples about how one should enable the plugins for their Helm operator instance.

The following information should be documented at least:

- clear example of how one can utilize an init container and a mounted `$HELM_HOME` to install _any_

[2020-02-05 11:01] hiddeco opened #267 "chart: offer support for Helm (getter) plugin init containers"
Support for Helm (getter) plugins has been worked on in #263 and will be merged soon. The mentioned PR does however not make the functionalities easily accessible using our Helm chart.

To best way in my opinion to make them accessible using the chart would be to create some dynamic method that is able to generate plugin installing init containers using the following format:

[code]

This would re

[2020-02-05 11:05] 4nte opened #268 "No RSA host key is known"
**Describe the bug**

Suddenly helm-operator is unable to pull the helm chart repo.
[code]
It used to work from the beginning, when I installed Flux & helm-oprator, I haven't changed anything in the Flux & helm-operator configuration since.

Helm-operator was installed with the following values
[code]

As you can see, RSA key for bitbucket is provided through helm values.

**To Reproduce**

1. Ins

[2020-02-05 11:19] 4nte commented on #268
I ran git clone in the helm-operator container, it successfully clones the repo.

[code]

[2020-02-05 11:30] 4nte commented on #268
Deleted the helm-operator pod and now it works. It's still not clear what caused helm-operator not to be able to clone the repo.

[2020-02-05 13:49] 2opremio commented on #238
Fixed by #234

[2020-02-05 13:49] 2opremio commented on #238
Oh, hold on, maybe the helm versions bit is not resolved

[2020-02-05 14:18] stefanprodan commented on #238
Setting the version was implemented in #246

[2020-02-05 14:18] #238 closed, assigned to nobody

[2020-02-05 16:31] #228 closed, assigned to nobody

[2020-02-05 16:47] omerlh commented on #11
Any, any update regarding this issue? We just enabled slack notifications for slack, and it's really valuable for us, we would be happy to have the same thing for helm opertator

[2020-02-05 16:58] stefansedich commented on #167
@hiddeco @stefanprodan have you guys had any luck getting this one pushed through?

[2020-02-05 17:34] hiddeco commented on #167
Nop, but on a second thought we may be able to work around it by getting rid of the usage of `scheme.Scheme` [here](https://github.com/fluxcd/helm-operator/blob/master/pkg/operator/operator.go#L81) and [here](https://github.com/fluxcd/helm-operator/blob/master/pkg/operator/operator.go#L84) (and replace it with a likewise thing as proposed on the Helm side).

If you are feeling adventurous; a contr

[2020-02-05 17:35] stefansedich commented on #167
@hiddeco ok let me have a look, I need to deploy something that is blocking atm due to this bug so I have a vested interest in solving it :laughing:

**Update**: Attempted the suggested fix and as discussed with @hiddeco looks like this might not actually work.

[2020-02-05 18:04] boocup opened #271 "Helm chart not ready: `could not resolve hostname` / `name does not resolve`"
I am trying to get my Helm Chart working with Flux and got a couple things going on.

It appears my repository is syncing correctly, but my helm chart doesn't launch. Also, there is an error message in the HelmRelease which doesn't sync with what I'm seeing.

When I bash into the flux pod I see that the sync seems to have worked...

bash-5.0# cd /tmp
bash-5.0# ls
flux-gitclone634126936  flux-worki

[2020-02-05 18:33] hiddeco commented on #271
Can you please provide the `HelmRelease` resource that fails to install?

Based on the reported error (`could not resolve hostname github.com:boocup: Name does not resolve`), there seems to be a formatting error with the URL you have provided in the `.spec.chart` of the `HelmRelease`.

Also, it is not required to `ssh-keyscan` for a repository from `github.com`, we scan the SSH servers of the more

[2020-02-05 18:40] boocup commented on #271
thanks for responding so quickly and the tip. Here is the HelmRelease file based on the ghost example....

apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: tidal
  namespace: default
spec:
  releaseName: tidal
  chart:
    git: ssh://git@github.com:boocup/Tidal-SaaS-653
    ref: flux-setup-test
    path: charts/tidal

[2020-02-05 19:55] boocup commented on #271
i bashed in and played around with ssh manually and this worked....

    git: ssh://git@github.com/boocup/Tidal-SaaS-653

....flipped the colon to a slash....I'm going to close this.....thanks!

[2020-02-05 19:55] #271 closed, assigned to nobody

[2020-02-05 21:08] hiddeco commented on #271
For further reference, the shorthand format (`git@example.com:org/repo.git`) only works _without_ a protocol specified. The official format for `ssh://` is `ssh://git@example.com/org/repo.git`.

[2020-02-05 21:13] boocup opened #272 "Updates to values.yaml not reflected in release (e.g. Flux not updating)"
**Describe the bug**

App's chart being correctly deployed by Flux, but updates to values.yaml not being in configmap.

**To Reproduce**

Deploy App's Helm chart into cluster
Check values by using 'kubectl describe cm tidal-config'
Modify values.yaml and update the git repository
Monitor log file, watch for sync-loop
Check values again by using 'kubectl describe cm tidal-config'
Bash into the flux

[2020-02-05 21:14] boocup commented on #271
thanks @hiddeco !

[2020-02-06 13:47] ekeih opened #273 "Adding --release-label flag to limit the operator to HelmReleases with a specific label"
# Describe the feature

Allow running several instances of the operator in the same cluster by adding labels to the HelmRelease objects which control which operator is responsible for which HelmRelease.

# What would the new user story look like?
1. A first instance of the operator is started.
2. A second instance is started using the new `--release-label=internal` flag.
3. The first instance mana

[2020-02-06 14:41] boocup commented on #272
So, it appears that after my app's chart is deployed, if I do a first subsequent values.yaml, commit it, push it and wait for the sync.  I see the updated value in the config map.

When I do another update to the values.yaml after that first one, I don't see an updated configmap value via kubectl describe.

But, if I bash into the flux pod and look at the most recent flux-working folder, I see the

[2020-02-06 14:48] stefanprodan commented on #272
Flux plays no role in applying changes from charts stored in git. It's Helm Operator that clones the repo where the chart is. Helm Operator merges values.yaml with the HelmRelease.values and if the dry-run detects a change, only then the release will be upgraded. Can you please check helm-op logs?

[2020-02-06 15:11] boocup commented on #272
will do....thanks @stefanprodan !

[2020-02-06 15:19] boocup commented on #272
good tip....I'm going to do some refactoring. I'll close this. Thanks again.

[2020-02-07 10:46] Fapfood opened #274 "using alias in HelmRelease.spec.chart.repository"
I tried to use alias in HelmRelease.spec.chart.repository. I created secret with our repositories.yml and uncommented both volumes: for repositories and for cache. Unfortunately alias is not parsed. I got this error:
`caller=release.go:140 component=release release=prometheus targetNamespace=prometheus resource=prometheus:helmrelease/prometheus helmVersion=v3 erro
r="chart unavailable: could not f

[2020-02-07 11:34] hiddeco commented on #274
You are not using the `chart.repository` key as it is intended to be used. The Helm operator (at time of writing) expects the `chart.repository` to equal to the URL of the repository, and thus not the alias.

Working with 'aliases' is a planned feature, details about this can be found here: https://github.com/fluxcd/helm-operator/issues/142#issuecomment-571621894

[2020-02-07 12:10] Fapfood commented on #274
What is the purpose of defining own repositories.yaml? Does it only serve as an authentication point?

[2020-02-07 12:19] hiddeco commented on #274
Correct, it allows you to configure certificates and other authentication data for repositories requiring this. If they are publicly available, you do not have to add them to your `repositories.yaml`.

[2020-02-07 12:21] anekdoti commented on #243
Hello @hiddeco ,

are there already some news about the bug? Could you reproduce it with my example repository? And can I be of any help?

[2020-02-07 12:28] Fapfood commented on #274
Thank you. You may think about writing this in the documentation more clearly and directly. You mention now that it is better to be explicit, but not that it is a requirement. (https://docs.fluxcd.io/projects/helm-operator/en/latest/references/helmrelease-custom-resource.html#cite-why-repo-urls) Then in many places you mention the file `repositories.yaml`, so I assumed that I could use aliases.

[2020-02-07 16:10] boocup opened #275 "Helm Chart Deploys, but not updating and error in helm-operator log"
**Describe the bug**

My app deploys, but won't update. Flux log looks ok, but error in helm-operator log

**To Reproduce**

helm upgrade -i flux fluxcd/flux \
--set git.url="git@github.com:boocup/Tidal-SaaS-653" \
--set git.branch="flux-setup-test" \
--namespace flux

helm upgrade -i helm-operator fluxcd/helm-operator \
--set git.ssh.secretName=flux-git-deploy \
--namespace flux

**Expected behav

[2020-02-07 16:15] stefanprodan commented on #275
Can you post here the HelmRelease file?

[2020-02-07 16:20] boocup commented on #275
absolutely...thank you!

[code]

[2020-02-07 16:26] stefanprodan commented on #275
Can you please use the same URL format as with Flux `git@github.com:boocup/Tidal-SaaS-653` and tail Helm Operator logs, it should say why it can't clone the repo.

[2020-02-07 16:44] boocup commented on #275
**updated HelmRelease**

---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: tidal
  namespace: default
spec:
  releaseName: tidal
  chart:
    git: git@github.com/boocup/Tidal-SaaS-653
    ref: flux-setup-test
    path: charts/tidal

**looks like the same error....**

info="started mirroring new remote" remote=git@github.com/boocup/Tidal-SaaS-653 mirror=git@github.com/boocup/Tid

[2020-02-07 17:00] stefanprodan commented on #275
The Git URL in the HelmRelease is wrong, use `git@github.com:boocup/Tidal-SaaS-653`

[2020-02-07 17:38] boocup commented on #275
That was it. You're the best. Thanks!

[2020-02-07 17:38] #275 closed, assigned to nobody

[2020-02-08 02:09] GODBS commented on #255
Just tested it, works like a charm

[2020-02-10 09:37] hiddeco commented on #274
The first two sentences clearly state in my opinion that using an alias in the `HelmRelease` is not an option:

In addition, a bit higher up on the page the following is stated:

What phrasing would have made this easier to grasp for you?

[2020-02-10 09:48] Fapfood commented on #274
I treat the first sentence as a feature. For example, I can move all releases to a new location, and change the configuration only in repositories.yaml. Dependency injection pattern. I understand that careless use can be a problem, but it doesn't follow from the sentence that I can't use it.
The second sentence is untrue: `doesn’t have access to local configuration` - it has access when we mount r

[2020-02-10 10:13] #267 closed, assigned to nobody

[2020-02-10 12:00] adusumillipraveen opened #277 "Ability to re-attempt failed helm releases before rollback"
**Describe the feature**
Currently , we  have releases which fail one-off  ( sometimes timed out ) and are not re-attempted if we have rollback enabled on HR.
It would be good to have an option to define "number of re-attempts" before we mark it as rolled back. This is causing us issues in multi cluster environment where apps go out of sync between the clusters when hit by this.

**What would the

[2020-02-10 12:09] hiddeco commented on #277
This sounds a lot like what was described in #241 and implemented in #252. Can you please take a look if this would fulfill your needs? The feature will be included in the next RC.

[2020-02-10 12:47] sayboras opened #278 "Operator does not support `--skip-crds`"
**Describe the bug**
Failed to install helm charts with crds, the same can be done through helm cli with `---skip-crds`

**To Reproduce**
Trying to configure helm release as per below config:

[code]

**Expected behavior**
HelmRelease should be created successfully

**Logs**
[code]

**Additional context**
Add any other context about the problem here, e.g
- Helm operator version: helm-operator-0.6.

[2020-02-10 13:29] adusumillipraveen commented on #277
Perfect, looks like exactly what we want.

[2020-02-10 13:29] #277 closed, assigned to nobody

[2020-02-10 13:31] stefanprodan commented on #278
There is a `installCRDs` boolean in that chart, set it to `false` and add the CRDs to your Flux git repo.

[2020-02-10 13:34] hiddeco commented on #278
@stefanprodan while this is true for this chart, I still think it would be good to integrate the flag into the operator for charts that for some reason do not make it possible to disable the creation of CRDs through their values.

[2020-02-10 13:54] hiddeco commented on #100
Closing this due to inactivity. The answer provided by Stefan above is likely the solution to the issue mentioned, if not, please feel free to re-open. :tulip:

[2020-02-10 13:54] #100 closed, assigned to nobody

[2020-02-10 14:16] hiddeco opened #279 "Revamp documentation for 1.0.0 GA"
The current state of the documentation is at times confusing to users (example #274), and there are some features that are either not documented at all, or lack proper documentation (#18, #54, #222, and https://github.com/fluxcd/helm-operator/issues?utf8=%E2%9C%93&q=+label%3Aquestion+sort%3Aupdated-desc).

Therefore, before making the `1.0.0` GA release, we should:

- [x] Restructure the documenta

[2020-02-10 14:18] hiddeco commented on #274
Token note of this in the issue linked above, which now supersedes this issue. Thanks for your suggestions :tulip:

[2020-02-10 14:18] #274 closed, assigned to nobody

[2020-02-10 14:21] hiddeco commented on #272
@boocup in the end you did not close the issue, does this mean it is still an issue or did you forget to close it after commenting?

[2020-02-10 14:22] hiddeco commented on #54
Superseded by the above issue.

[2020-02-10 14:22] #54 closed, assigned to nobody

[2020-02-10 14:23] boocup commented on #272
my apologies, I thought I did close it....closing now.

[2020-02-10 14:23] #272 closed, assigned to nobody

[2020-02-10 15:01] adusumillipraveen opened #280 "Add ability to define priority/order of Helm Releases"
**Describe the feature**

It would be very useful to have a way to define the order/ priority  in which helm operator should pick up helm releases. This is becoming a big concern while bootstrapping clusters when there are services that are depend on one other.

**What would the new user story look like?**

1. HelmRelease CRD supports a flag to define priority (Integer property )
2. Helm operator

[2020-02-10 15:45] jseiser commented on #215
@derrickburns

can you expand on this a bit?  We currently have flux/helm operator, insteaded as helm releases.  You are saying I need to remove these, do what you posted, and then put them back?

Wont that cause all of my releases to get removed/re-created?

[2020-02-10 15:47] hiddeco commented on #280
This is out of scope for the operator.

As with native Kubernetes resources (i.e. of kind `Deployment`) they are processed in the order they are applied as the operator makes use of the FIFO queue provided by Kubernetes' `client-go`. Prioritizing this queue would be possible by e.g. checking dependencies and re-queuing the item they aren't met, but this is non-optimal.

I also have to note that an

[2020-02-10 16:42] sa-spag opened #281 "Improve and/or extend available Prometheus metrics"
Since the operator refactoring and 82ebc1a re-introduced `release_duration_seconds` metric, it is kind of useless as all sync attempt durations are observed, regardless of the result of `shouldSync`. As a result, plotting...
[code]
... mostly spikes when an actual release happen but then drops back to the dry-run upgrade duration, e.g.:

<img width="1349" alt="Capture d’écran 2020-02-10 à 17 39

[2020-02-10 18:31] stefansedich commented on #278
Looks like the kong chart also states this so really need the --skip-crds for installs.

[code]

@hiddeco assign this to me will pick it up tonight.

[2020-02-10 20:07] hiddeco commented on #281
There have been various reports that this metric is non optimal, including a (now closed) PR to record the release count in #84.

Given this I would like to extend / widen this issue a bit and figure out what would be the most useful metrics to the community so that we can settle everything in one take.

In my opinion the histogram we have now should stay put, but may need some tweaking with regar

[2020-02-11 01:15] sayboras commented on #278
@hiddeco yes, I tried before with CLI, and it requires passing the flag. Thanks for picking up this one 💯

[2020-02-11 04:10] derrickburns commented on #215
@jseiser

I was specifically referring to the challenge in migrating *any* service from a non-helm install to a helm-install.

One of the problems with helm3 is that it sometimes will not install a helm chart if the resources that it would install conflict with those already installed.  Unfortunately, I cannot give you a good definition of "conflict."

[2020-02-11 04:39] cep21 opened #283 "Installation of s3 plugin fails on master b/c of lack of bash"
**Describe the bug**

Unable to start a helm-operator with the s3 plugin as documented.

**To Reproduce**

Try installing the s3 plugin on master

**Expected behavior**

S3 plugin works

**Additional context**

Execute the following
[code]

When inside a terminal execute
[code]

Notice how the plugin installs, but with an error on the post install hook at https://github.com/hypnoglow/helm-s3/blob/

[2020-02-11 04:40] cep21 commented on #283
The end result of all of this is that a deployment of helm operator for the initContainers won't pass
[code]

[2020-02-11 05:15] cep21 commented on #283
There is a separate bug here where the plugin post install hook failed but future calls of `plugin install` still think it's there.

And a bug where helm-operator fails because `plugin already exists` which ideally shouldn't fail the initContainer (since it should be ok to move on if the plugin is already installed).

[2020-02-11 06:34] hiddeco commented on #283
You are making use of something that hasn’t been officially released.

While everything is available in `master` for the chart, the RC.8 image you are making use of does not include the changes made to the operator to detect the plugins, nor does it include the changes made to the Docker image that add the dependencies you are talking about.

The latest pre-release image listed [here](https://hub.

[2020-02-11 06:52] cep21 commented on #283
Thanks for the pointer.  Will this also resolve the concern around the container init failing if the plugin already exists: Error: plugin already exists

[2020-02-11 08:23] hiddeco commented on #283
This error was the result of a corrupt plugin installation due to the missing dependency and led to the init container being run twice as they run to completion. Given init containers are only run during the startup of the pod and the cache only exists for the lifetime duration of the pod, I would not expect this to happen again.

[2020-02-11 08:50] adusumillipraveen commented on #280
We have been trying to use umbrella charts and is only causing more and more issues with time, especially when they are managed by different teams. And bootstrapping takes really long , which we want to avoid.
Thanks for the explanation and right reference, I have updated my comments on it.

[2020-02-11 08:50] #280 closed, assigned to nobody

[2020-02-11 09:31] sa-spag commented on #281
I agree. Also have in mind the discussion in #62, as I think we should not only leverage metrics but events also.
There are some interesting elements on fluxcd/flux#2812, we could benefit from these reasoning efforts.

[2020-02-11 11:09] jonbesga commented on #283
Is there currently any way to use the s3 plugin through the provided chart `fluxcd/helm-operator`?

[2020-02-11 11:56] qvmedvedev opened #284 "Dry run upgrade check fails"
**Describe the bug**
After successful chart installation/upgrade dry-run upgrade check fails

**To Reproduce**
Create namespace
[code]
Create custom values file
[code]
Install helm-operator using that file
[code]
Create HelmRelease
[code]
Get helmreleases
[code]
Get helmreleases after 5 minutes
[code]
**Expected behavior**
Dry-run checks pass successfully

**Logs**
[code]

**Additional context**
-

[2020-02-11 11:57] StianOvrevage commented on #231
I just need to echo what @jwietelmann is saying here. This would make installation with Helm v3 much nicer and more versatile. There are no down-sides. It does not break documentation or backwards-compatibility.

It's also a tiny change. I could create a PR for it, but the main issue I guess is agreeing that it's a good idea.

[2020-02-11 12:07] hiddeco commented on #283
You can use the chart change in `master` combined with the prerelease image mentioned in https://github.com/fluxcd/helm-operator/issues/283#issuecomment-584495694.

[2020-02-11 12:07] #283 closed, assigned to nobody

[2020-02-11 12:11] stefanprodan commented on #231
This will be fixed by https://github.com/fluxcd/helm-operator/pull/270

[2020-02-11 12:15] hiddeco commented on #281
I am aware of this issue but would like to focus on a single thing at a time, and keep the scope of issues narrow. This ensures we are able to deliver and/or close issues in a reasonable timeframe with the small amount of workforces we have available.

[2020-02-11 12:17] hiddeco commented on #284
I do not think this is an issue with the operator but an issue with the chart you are using, doing a `helm upgrade -i` dry-run upgrade with the exact same values as specified in the `HelmRelease` will likely yield the same result.

[2020-02-11 12:24] stefanprodan commented on #284
@hiddeco this seems like a RBAC issue, Helm Operator was installed with a role and on upgrade Helm v3 tries to query secrets at cluster level instead of namespace level.

[2020-02-11 13:06] hiddeco commented on #284
@stefanprodan you are absolutely right. Sorry about that @qvmedvedev, I am not having my brightest day today.

We used to not pass along the namespace for dry-run operations, this has been fixed in https://github.com/fluxcd/helm-operator/commit/6f0daff9c9815059cd7182e24126d56a44c9a830 but not made it to a release yet. Can you please try the following image from our [`prerelease` images](https://hu

[2020-02-11 13:11] hiddeco commented on #231
Given #270 will likely take a while to land, I will subtract the chart change from there as it can also be used for the end-to-end test in #282.

[2020-02-11 13:24] sa-spag commented on #281
Definitely. My point was more about avoiding to cover too much through metrics, as using them is not always the best solution I believe. Let's keep the discussion focussed on these then.

[2020-02-11 13:44] qvmedvedev commented on #284
Yeah, `fluxcd/helm-operator-prerelease:master-3f64a324` has fixed my issue. Great, thanks!

[2020-02-11 14:35] #284 closed, assigned to nobody

[2020-02-11 15:10] boocup opened #285 "helm-operator Helm release failed error"
**Describe the bug**

helm-operator showing "helm-operator Helm release failed error"...err="release tidal failed: timed out waiting for the condition"

**To Reproduce**

Steps to reproduce the behaviour:
1. deploy flux
2. deploy helm-operator
3. watch helm-operator log

Note: if I bash into the helm-operator pod and move to tmp, I can see the repo files pulled down, so that seems to imply the git

[2020-02-11 15:13] #285 closed, assigned to nobody

[2020-02-11 15:27] boocup opened #286 "helm-operator showing "helm-operator Helm release failed error""
**Describe the bug**

helm-operator showing "helm-operator Helm release failed error"...err="release tidal failed: timed out waiting for the condition"

**To Reproduce**

deploy flux
deploy helm-operator
watch helm-operator log
Note: if I bash into the helm-operator pod and move to tmp, I can see the repo files pulled down, so that seems to imply the git repo is reachable.

**Expected behavior**

[2020-02-11 15:27] boocup commented on #286
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: tidal
  namespace: default
spec:
  releaseName: tidal
  chart:
    git: git@github.com:boocup/Tidal-SaaS-653
    ref: master
    path: charts/tidal

[2020-02-11 15:29] hiddeco commented on #286
Can you please join our [CNCF Slack](https://slack.cncf.io) channel `#flux` for issues like this? As they likely aren't bug reports but configuration errors, and they cause a lot of noise for us maintainers.

In addition, you may receive help from other community members there instead of having to wait for a response from us maintainers, which will likely help you fix the issues faster.

[2020-02-11 15:29] #286 closed, assigned to nobody

[2020-02-11 15:34] boocup commented on #286
absolutely

[2020-02-11 18:39] rally25rs opened #288 "Seems to not update charts; keeps trying to process old HelmRelease and chart yaml"
**Describe the bug**

I have a repo that contains `flux` + `helm chart` that is structured like:

[code]

The `releases/qa/cloud-services.yaml` contains

[code]

The log from the `helm-operator` pod keeps printing out
[code]
and then some errors processing the helm chart itself. I had since completely deleted the offending bit of helm chart code, but it keeps reporting the code as an error, even t

[2020-02-11 21:08] rally25rs commented on #288
OK so it seems that this was an issue with Flux trying to run an "update" on the `HelmRelease` which takes as parameters the `old` and `new` objects definitions.

[code]

I guess flux was continually passing the old / broken / undeployable config and trying to update it. In turn, `helm-operator` would try to parse that old config and 💥

-----

My "fix" for this was to just `kubectl delete pod qa-f

[2020-02-11 21:08] #288 closed, assigned to nobody

[2020-02-11 21:29] hiddeco commented on #288
Flux and the Helm operator do not communicate with each other, nor do they know about each others existence. Flux simply applies whatever manifests it watches in Git on the cluster, and the operator listens for events from the cluster for the `HelmRelease` resource kind and processes those changes.

If you do not have garbage collection enabled for Flux, renaming a resource will simply create a ne

[2020-02-12 00:05] hiddeco commented on #231
Resolved in #287.

[2020-02-12 00:05] #231 closed, assigned to nobody

[2020-02-12 00:30] hiddeco commented on #273
Thanks for your enhancement request and for taking the time to explain your use-case.

This would be much appreciated! I would like to hear a bit to understand the use-case better and ensure it can not be solved in an other way. See the first question below, others are suggestions on what the enhancement itself would look like.

What is your relationship to the customer in terms of RBAC, do you bo

[2020-02-12 00:31] #278 closed, assigned to nobody

[2020-02-12 01:34] stefansedich commented on #240
@derrickburns do you have a particular chart I can apply to repliate this?

[2020-02-12 07:58] hiddeco commented on #240
@stefansedich the error mentioned here is as logged by the `infoLogfunc` from `helm/v3`.

If we’d want to enrich it with for example the `releaseName`, we have to set the logger to a func that includes this value.

[2020-02-12 07:59] stefansedich commented on #240
Makes sense, assign this one to me I have a good idea of what to do now.

[2020-02-12 09:55] hiddeco commented on #48
Closing this because of inactivity and it likely no longer being relevant to the current state of the code base. If the problem arises again or does still exist, feel free to re-open the issue.

[2020-02-12 09:55] #48 closed, assigned to nobody

[2020-02-12 14:34] #167 closed, assigned to nobody

[2020-02-12 15:40] #240 closed, assigned to nobody

[2020-02-12 19:24] aleclerc-sonrai opened #293 "HelmRelease status seems incorrect"
**Describe the bug**

Helm Status is not correctly updated

**To Reproduce**

HelmRelease status is misleading

**Expected behavior**

`kubectl get hr` would indicate HelmRelease is deployed OK

**Logs**

i have a bunch of helmreleases that don’t seem to have an updated status in the CRD:
[code]
Helm-operator still seem to be deploying ok :
[code]
but status is definitly wrong on the crd:
[code]
a

[2020-02-13 09:30] hiddeco commented on #279
Rollbacks should be documented better, as enabling results in e.g. the waiting behaviour to be configured, but this is not obvious to users [as reported on Slack](https://cloud-native.slack.com/archives/CLAJ40HV3/p1581560090347500?thread_ts=1581556502.347400&cid=CLAJ40HV3).

[2020-02-13 09:58] #266 closed, assigned to nobody

[2020-02-13 14:20] hiddeco commented on #268
@4nte is everything still working as expected and can I close this issue?

[2020-02-13 19:57] hiddeco commented on #108
@derrickburns has this happened again since the parallel patch on our side, or can this be considered fixed?

[2020-02-13 20:27] derrickburns commented on #108
I have not experienced this again.

[2020-02-13 20:45] 4nte commented on #268
Yes, so far so good.

[2020-02-13 20:45] #268 closed, assigned to nobody

[2020-02-13 20:49] hiddeco commented on #108
Going to close this then, but feel free to re-open if it happens again in the near future (or create a new issue linking to this one to keep track of history). Thanks!

[2020-02-13 20:49] #108 closed, assigned to nobody

[2020-02-13 21:21] derrickburns commented on #240
This one:
[code]

:)

[2020-02-13 21:21] derrickburns commented on #240
Good job!  This is very helpful.

[2020-02-13 21:24] derrickburns opened #301 "helm/v3: some error messages are missing formatting and context"
I am seeing error messages (from rc9) like this one that do not have the new release name and namespace fields.
Can we add them?

[code]

[2020-02-13 21:31] hiddeco commented on #301
Need a bit more context about the operation being performed before I can say if we are able to add them.

[2020-02-13 21:35] derrickburns commented on #301
@hiddeco I do not know what is writing the error message into the helm operator logs.  That is the point. Sorry.

[2020-02-13 21:36] derrickburns commented on #301
Here is broader context:
[code]